<!DOCTYPE html>
<html lang="en">
  <head>
  <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-F6SNPYZPH7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-F6SNPYZPH7');
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Strategic partnership for growth.</title>
    <meta name="description" content="Tina Nguyen partners with leaders in startup ventures to coach their teams in new product development, team communication and product design, unleashing their potential to power company growth.">
    <meta property="og:url" content="url('/about')">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Strategic partnership for growth.">
    <meta property="og:image" content="url('/assets/images/about/about_comments.png')">
    <meta property="og:description" content="Tina Nguyen partners with leaders in startup ventures to coach their teams in new product development, team communication and product design, unleashing their potential to power company growth.">

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../assets/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../assets/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../assets/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="../assets/favicon/site.webmanifest" />
    <!-- Link Swiper's CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
    />

    <link rel="stylesheet" href="../styles/common.css" />
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-F6SNPYZPH7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-F6SNPYZPH7');
    </script>
    <script src="https://kit.fontawesome.com/efed93f1aa.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <nav class="ts-navbar-container">
      <div class="ts-container">
        <header class="ts-navbar">
          <a class="ts-navbar__logo" href="/">
            <img src="../assets/images/logo.png" height="40px" alt="Unlikely"/>
          </a>
          <div class="ts-burger">
            <i class="ts-open fa-solid fa-bars"></i>
            <span class="ts-close">
              <i class="fa-solid fa-xmark"></i>
            </span>
          </div>
          <nav class="ts-navbar__navbar">
            <ul class="ts-links">
              <li>
                <a class="ts-navbar__link" href="/"> Coaching </a>
              </li>
              <li>
                <a class="ts-navbar__link ts-text-blue-2" href=""> About </a>
              </li>
              <li>
                <a class="ts-navbar__link" href="/blog"> Blog </a>
              </li> 
              <li class="ts-btn-container d-none">
                <a
                  class="ts-btn ts-btn--sm ts-btn-primary ts-fs-6 text-decoration-none rounded-4 text-uppercase fw-500"
                  href="mailto:tina@unlikely.so">
                  Contact
                </a>
              </li>
            </ul>
          </nav>
        </header>
      </div>
    </nav>

    <section
      class="ts-hero text-center"
      style="background: url('../assets/images/about/about-bg.png') center top; background-size: cover;"> 
      <div class="ts-container">
        <div class="ts-hero__content">
          <h1 class="ts-text-white ts-fs-1 fw-100">
            Strategic partnership for growth
          </h1>
        </div>
      </div>
    </section>

    <section class="ts-bg-white ts-py-80" id="about">
      <div class="ts-container pb-80">
        <div class="ts-row ts-row-gap-1 ts-row-gap-md-1 ts-row-col-md-2">
          <div class="p-md-24">
            <h5 class="ts-fs-5 ts-text-blue fw-800 mb-8 text-uppercase">Care</h5>
            <p class="ts-fs-6">
              People and relationships are the core of our work. When team
              members thrive, overall performance improves, resulting in more
              value for end users and better outcomes for the organization.
            </p>
          </div>
          <div class="p-md-24">
            <h5 class="ts-fs-5 ts-text-blue fw-800 mb-8 text-uppercase">Candor</h5>
            <p class="ts-fs-6">
              Open communication is essential in all successful work
              relationships. If teams are able to raise and discuss issues then
              they can find a way to overcome challenges.
            </p>
          </div>
          <div class="p-md-24">
            <h5 class="ts-fs-5 ts-text-blue fw-800 mb-8 text-uppercase">Curiosity</h5>
            <p class="ts-fs-6">
              Adopting an inquisitive mindset and asking lots of questions helps to
              empathize with others, build better products and effective partnerships that are
              truly fulfilling.
            </p>
          </div>
          <div class="p-md-24">
            <h5 class="ts-fs-5 ts-text-blue fw-800 mb-8 text-uppercase">Courage</h5>
            <p class="ts-fs-6">
              Challenging what is possible and pushing through discomfort is conducive to exploration and
              continuous growth.
            </p>
          </div>
        </div>
      </div>

      <div class="ts-container ts-container-lg-down-none">
        <div class="ts-about__content ts-bg-gray-8 rounded-4">
          <div class="ts-about__text">
            <h3 class="ts-fs-4 text-uppercase fw-900">Tina Nguyen</h3>
            <div class="d-flex align-items-center gap-4 mb-24">
              <h5 class="ts-fs-6">Founder</h5>
              <a href="https://www.linkedin.com/in/nanguyen" class="mt-2">
              <img width="24"
                   src="../assets/images/linked-in.png"
                   alt="LinkedIn"/>
              </a>
            </div>
            <p class="ts-fs-6 mb-20">
              Experienced in transforming ideas into tangible products in extremely nebulous and fast-paced environments. Successfully:
              <ul class="ts-fs-6">
                <li>
                  led teams through user-centered, experiment-driven product development, driving
                  teams toward successful outcomes and fulfilling work
                </li>
                <li>
                  implemented strategies that leveraged the unique strengths of individual team
                  members, eliciting excellence that fuels high-performance
                </li>
                <li>
                  assessed team dynamics and improved team communication to create safe,
                  open, and collaborative spaces
                </li>
              </ul>
            </p>
            <br/>

            <p class="ts-fs-6 mb-20">
              My roles as an engineer, a Director of Product, a Founding Designer, and VP of Design
              have all focused on new product development. I've designed and built MVPs and
              implemented strategies guiding teams toward successful outcomes. I have a knack for
              breaking down complex problems into manageable tasks and guiding teams through a
              structured process to achieve impactful results.
            </p>

            <p class="ts-fs-6 mb-20">
              My empathetic leadership fosters collaboration and growth with an intense focus on
              achieving results, empowering team members to reach their full potential, and creating
              a culture of innovation and excellence. I've taught teams to communicate openly,
              encouraging candid feedback, building trust, stronger relationships, and safe,
              inclusive spaces.
            </p>

            <p class="ts-fs-6 mb-20">
              My intimate familiarity with risk and failure enables me to manage them well — I do
              not suffer from decision paralysis. I approach challenging situations with openness,
              humor, and optimism, motivating others to use their agency to solve thorny problems.
            </p>

            <p class="ts-fs-6 mb-20">
              <b>How can you trust me to do this as your partner?</b>
            </p>

            <p class="ts-fs-6 mb-20">
              Because I've done it before.
            </p>
          </div>
          <div class="ts-about__img">
            <div class="ts-about-card ts-bg-white p-16 rounded-4">
              <img
                class="w-100 mb-16"
                src="../assets/images/about/about.jpg"
                alt="..."
              />

              <p class="ts-fs-7 text-center">
                I spend a lot of time growing this little one too.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Reviews 2  -->
    <section class="ts-py-96 ts-bg-blue ts-text-gray-7">
      <div class="ts-container">
        <div class="rounded-4">
          <!-- Swiper -->
          <div class="swiper reviewSwiper2 ts-font-nunito-sans">
            <div class="swiper-wrapper ts-fs-6 fw-300">
              <div class="swiper-slide">
                <div class="d-flex gap-8">
                  <div>
                    <img width="20" src="../assets/icons/quote.svg" alt="..." />
                  </div>
                  <div>
                    <p class="mb-24">
                      Tina is a powerhouse ... She's a delightful collaborator. Tina's high
                      energy, sense of humor, openness, and eagerness to share
                      and train others are all critical assets in the ups and
                      downs of startup life.
                    </p>
                    <a href="https://www.linkedin.com/in/greghecht" class="text-decoration-none ts-text-white">
                      <p class="text-right text-uppercase fw-700 ts-fs-7">
                        Greg Hecht
                        <img width="12" src="../assets/images/linkedin-white.png" alt="LinkedIn"/>
                      </p>
                      <p class="text-right ts-text-gray-10">CTO and Co-founder</p>
                    </a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="d-flex gap-8">
                  <div>
                    <img width="20" src="../assets/icons/quote.svg" alt="..." />
                  </div>
                  <div>
                    <p class="mb-24">
                      Tina has a remarkable ability to create an environment where everyone feels
                      comfortable opening up for candid and meaningful conversations.
                    </p>
                    <a href="https://www.linkedin.com/in/noa-kim" class="text-decoration-none ts-text-white">
                      <p class="text-right text-uppercase fw-700 ts-fs-7">Noa Kim
                        <img width="12" src="../assets/images/linkedin-white.png" alt="LinkedIn"/>
                      </p> 
                      <p class="text-right ts-text-gray-10">Senior Product Designer</p>
                    </a>
                  </div>
                </div>
              </div> 
              <div class="swiper-slide">
                <div class="d-flex gap-8">
                  <div>
                    <img width="20" src="../assets/icons/quote.svg" alt="..." />
                  </div>
                  <div>
                    <p class="mb-24">
                        What stood out to me was Tina's emphasis on
                        individual growth. She was keen on understanding each
                        team member's unique qualities, ensuring that the team
                        had a personalized career path aligned with their
                        aspirations and company’s product goals.
                    </p>
                    <a href="https://www.linkedin.com/in/kyle-kim-272a26" class="text-decoration-none ts-text-white">
                      <p class="text-right text-uppercase fw-700 ts-fs-7">
                        Kyle Kim
                        <img width="12" src="../assets/images/linkedin-white.png" alt="LinkedIn"/>
                      </p>
                      <p class="text-right ts-text-gray-10">Design Manager</p>
                    </a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="d-flex gap-8">
                  <div>
                    <img width="20" src="../assets/icons/quote.svg" alt="..." />
                  </div>
                  <div>
                    <p class="mb-24">
                        Tina taught the workshop in true Tina style - ensuring everyone felt
                        comfortable while simultaneously pushing us out of our
                        comfort zone. Her authentic approach and general desire
                        to make sure everyone came out of the workshop with
                        something was evident and appreciated.
                    </p>
                    <a href="https://www.linkedin.com/in/tharshika-gnanachelvan-607544144/" class="text-decoration-none ts-text-white">
                    <p class="text-right text-uppercase fw-700 ts-fs-7">
                      Tharshika Gnanachelvan
                      <img width="12" src="../assets/images/linkedin-white.png" alt="LinkedIn"/>
                    </p>
                    <p class="text-right ts-text-gray-10">Senior Product Manager</p>
                  </a>
                  </div>
                </div>
              </div>             
              <div class="swiper-slide">
                <div class="d-flex gap-8">
                  <div>
                    <img width="20" src="../assets/icons/quote.svg" alt="..." />
                  </div>
                  <div>
                    <p class="mb-24">
                      Working with Tina was a transformative experience, particularly in
                      terms of personal and professional growth ... Tina’s
                      dedication to fostering a culture of growth is truly inspiring.
                    </p>
                    <a href="https://www.linkedin.com/in/nourdabbour/" class="text-decoration-none ts-text-white">
                      <p class="text-right text-uppercase fw-700 ts-fs-7">
                        Nora Dabbour
                        <img width="12" src="../assets/images/linkedin-white.png" alt="LinkedIn"/>
                      </p> 
                      <p class="text-right ts-text-gray-10">Senior User Experience Researcher</p>
                    </a>
                  </div>
                </div>
              </div> 

              <div class="swiper-slide">
                <div class="d-flex gap-8">
                  <div>
                    <img width="20" src="../assets/icons/quote.svg" alt="..." />
                  </div>
                  <div>
                    <p class="mb-24">
                      Tina unlocked something in me. In a few short months, I’ve
                      grown more as a designer than I ever had in my career! Tina’s
                      mentoring approach is to steer you in directions that may not be
                      comfortable, but ultimately manifest in that "aha moment" with a
                      stronger solution. 
                    </p>
                    <a href="https://www.linkedin.com/in/daihan" class="text-decoration-none ts-text-white">
                      <p class="text-right text-uppercase fw-700 ts-fs-7">
                        Daihan Zhu
                        <img width="12" src="../assets/images/linkedin-white.png" alt="LinkedIn"/>
                      </p> 
                      <p class="text-right ts-text-gray-10">Product Designer</p>
                    </a>
                  </div>
                </div>
              </div>  

              <div class="swiper-slide">
                <div class="d-flex gap-8">
                  <div>
                    <img width="20" src="../assets/icons/quote.svg" alt="..." />
                  </div>
                  <div>
                    <p class="mb-24">
                    She played a pivotal role in helping us discover our strengths, voice our concerns,
                    and navigate our way to delivering results ... Working with Tina was not only professionally rewarding
                    but also a great deal of fun.
                    </p>
                      <a href="https://www.linkedin.com/in/arjunvariar/" class="text-decoration-none ts-text-white">
                        <p class="text-right text-uppercase fw-700 ts-fs-7">
                          Arjun Variar
                          <img width="12" src="../assets/images/linkedin-white.png" alt="LinkedIn"/>
                          </p> 
                        <p class="text-right ts-text-gray-10">Staff Software Engineer</p>
                      </a>
                  </div>
                </div>
              </div> 
            </div>

            <div class="swiper-pagination ts-review-pagination-2 p-24"></div>
          </div>
        </div>
      </div>
    </section>
    
    <footer class="ts-footer text-center mb-64">
      <div class="ts-container">
        <div class="ts-footer__content">
            &copy; Unlikely LLC
            <script>document.write( new Date().getFullYear() );</script>
        </div>
      </div>
    </footer>

    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script src="../js/common.js"></script>
    <script src="../js/index.js"></script>
  </body>
</html>

