<!DOCTYPE html>
<html lang="en">
  <head>
  <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-F6SNPYZPH7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-F6SNPYZPH7');
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Operationalize your vision.</title>
    <meta name="description" content="Diagnose and identify the challenges that are hindering your
    team's product development progress.">
    <meta property="og:url" content="url('/strategic-assessment')">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Operationalize your vision.">
    <meta property="og:image" content="/assets/images/home/comments.png">
    <meta property="og:description" content="Diagnose and identify the challenges that are hindering your
    team's product development progress.">

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../assets/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../assets/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../assets/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="../assets/favicon/site.webmanifest" />
    <!-- Link Swiper's CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
    />

    <link rel="stylesheet" href="../styles/common.css" />

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-F6SNPYZPH7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-F6SNPYZPH7');
    </script>
    <script src="https://kit.fontawesome.com/efed93f1aa.js" crossorigin="anonymous"></script>
  </head>


  <body>
    <nav class="ts-navbar-container">
      <div class="ts-container">
        <header class="ts-navbar">
          <a class="ts-navbar__logo" href="/">
            <img src="../assets/images/logo.png" height="40px" alt="Unlikely"/>
          </a>

          <div class="ts-burger">
            <i class="ts-open fa-solid fa-bars"></i>
            <span class="ts-close">
              <i class="fa-solid fa-xmark"></i>
            </span>
          </div>

          <nav class="ts-navbar__navbar">
            <ul class="ts-links">
              <li>
                <a class="ts-navbar__link ts-selected" href="/#work"> How </a>
              </li>
              <li>
                <a class="ts-navbar__link" href="/about"> About </a>
              </li>
              <li>
                <a class="ts-navbar__link" href="/blog"> Blog </a>
              </li> 
              <li class="ts-btn-container d-none">
                <a
                  class="ts-btn ts-btn--sm ts-btn-primary ts-fs-6 text-decoration-none rounded-4 text-uppercase fw-500"
                  href="mailto:tina@unlikely.so">
                  Contact
                </a>
              </li>
            </ul>
          </nav>
        </header>
      </div>
    </nav>

    <section
      class="ts-hero text-center"
      style="background: url('../assets/images/home/focus-bg.png') center top; background-size: cover;"> 
      <div class="ts-container">
        <div class="ts-hero__content">
          <h1>
            <span class="ts-text-white ts-fs-1-ii tagline fw-700">Operationalize your vision.</span>
          </h1>
          <a class="mt-16 ts-btn ts-btn--sm ts-btn-primary ts-fs-7 text-decoration-none rounded-4 text-uppercase fw-500" href="https://calendar.app.google/gSiN2bc8TbPgjuwG9">
          Get started
          </a>
        </div>
      </div>
    </section>

    <section class="ts-work ts-py-80">
      <div class="ts-container">
        <div>
          <div class="ts-work__content fw-300 ts-text-gray-7">
            <div>
              <h5 class="ts-text-green ts-fs-4 fw-800 text-uppercase">Strategic assessment</h5>
              <p class="ts-fs-6 mt-40">
                <em>
                  Is a strategic assessment the right first step or you?
                  As a product leader, you have conviction in your vision but may struggle to fully
                  translate that vision into action. Figuring out the underlying problems affecting
                  the team can be challenging, as everyone may have different views
                  but not the whole picture. 
                </em>
                <br/><br/>
                Working with a partner with operational experience in both early-stage startups and
                established companies, you'll gain a comprehensive understanding of your current
                situation, an assessment of existing team gaps, and recommendations to
                improve your organization's new product development capabilities.
              </p>
              <h6 class="ts-fs-7 fw-700 mb-8 mt-48 ts-text-white text-uppercase">
                How
              </h6>
              <ul class="ts-fs-6">
                <li>
                  Assess how well the team is operating along different dimensions in product
                  development: engineering, product, design, collaboration, communication,
                  messaging, etc.
                </li>
                <li>
                  Identify the areas that are challenging and prioritizes their impact to shipping
                  quickly
                </li>
                <li>
                  Help team members understand the needs of the business and strengthen operational
                  collaboration
                </li>
                <li>
                  Recommendations to address these challenges
                </li>
                <li>
                  Outline implementation opportunities 
                </li>
              </ul>

              <p class="ts-fs-6 mt-48 mb-8">
                Example questions that we'll cover:
              </p>
              <ul class="ts-fs-6 mb-24">
                <li>
                  What is the current vision and what are the obstacles slowing down
                  execution?
                </li>
                <li>
                  How is product development currently run and how do the different functions
                  collaborate in that process?
                </li>
                <li>
                  What role does product, engineering and design play at the different stages of
                  product development?
                </li>
                <li>
                  How does the team make decisions, address disagreements and prioritize what
                  needs to be done?
                </li>
                <li>
                  What is the product's value proposition and how are users connecting with the
                  message?
                </li>
              </ul>
              <h6 class="ts-fs-7 fw-700 mt-48 mb-8 ts-text-white text-uppercase">
                Best for
              </h6>
              <ul class="ts-fs-6">
                <li>
                Executives who want to help their teams ship faster
                </li>
              </ul>
            </div>
            <div class="ts-sidebar-container">
             <div class="ts-sidebar rounded-4">
                <h5 class="ts-text-green ts-fs-6 fw-800 text-uppercase">
                  Design leadership
                </h5>
                <p class="rounded-4 ts-fs-6 fw-300 mb-24 mt-16">
                  Build the right product that meets user needs.
                </p>
                <a class="ts-fs-6 ts-text-blue-2 text-decoration-none ts-btn-seemore" href="/design-leadership">
                  Learn more
                  <i class="icon-shift ts-fs-7 fa-solid fa-arrow-right"></i>
                </a>
              </div>
              
              <div class="ts-sidebar rounded-4">
                <h5 class="ts-text-green ts-fs-6 fw-800 text-uppercase">
                  Communication coaching
                </h5>
                <p class="rounded-4 ts-fs-6 fw-300 mb-24 mt-16">
                  Resolve disagreements and focus on shipping.
                </p>
                <a class="ts-fs-6 ts-text-blue-2 text-decoration-none ts-btn-seemore" href="/communication-coaching">
                  Learn more
                  <i class="icon-shift ts-fs-7 fa-solid fa-arrow-right"></i>
                </a>
              </div>
              <div class="ts-sidebar rounded-4">
                <h5 class="ts-text-green ts-fs-6 fw-800 text-uppercase">
                  Product facilitation
                </h5>
                <p class="rounded-4 ts-fs-6 fw-300 mb-24 mt-16">
                  Run product development to ship in weeks, not months. 
                </p>
                <a class="ts-fs-6 ts-text-blue-2 text-decoration-none ts-btn-seemore" href="/product-facilitation">
                  Learn more
                  <i class="icon-shift ts-fs-7 fa-solid fa-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>
        </div>  
      </div>
    </section>
    <section>
      <div class="ts-sidebar text-center">
        <div class="email-cta pr-24 ts-text-gray-7 ts-fs-6 fw-300 mb-24 mt-16">
          Schedule your 30-minute consultation
        </div>
        <a
          class="ts-btn ts-btn-primary ts-fs-6 text-decoration-none rounded-4 text-uppercase fw-500"
          href="https://calendar.app.google/gSiN2bc8TbPgjuwG9">
          Schedule
        </a>
      </div>
    </section>

    <!-- Testimonial -->
    <section class="ts-py-64 ts-bg-green ts-text-gray-7 review-section">
      <div class="ts-container">
        <div class="ts-review__content rounded-4">
          <img class="bg-quote" src="../assets/images/bg-quote.svg" alt="..." />
          <!-- Swiper -->
          <div class="swiper reviewSwiper ts-font-nunito-sans mt-24">
            <div class="swiper-wrapper ts-fs-5 fw-300">
              <div class="swiper-slide">
                <p class="mb-40">
                    As a startup founder and CEO, and public company exec, Tina was one of my most
                    trusted advisors.  Good managers solve hard problems.  Tina goes one step
                    further.  She builds trust and digs into the personal whys (she is one of the
                    most authentic people I've met) but is also pragmatic – she prioritizes the
                    company first, followed by the team, then the individual.  This gave us a deeper
                    understanding of our business and helped us make better decisions.
                </p>
                <a href="https://www.linkedin.com/in/paulklee" class="text-decoration-none ts-text-white">
                  <p class="text-right text-uppercase fw-700 ts-fs-5">
                    Paul Lee
                    <img width="16" src="../assets/images/linkedin-white.png" alt="LinkedIn"/>
                  </p>
                  <p class="text-right ts-text-gray-10">CEO and Founder</p>
                </a>
              </div>
            <div class="swiper-pagination ts-review-pagination"></div>
          </div>
        </div>
      </div>
    </section>

    <section class="ts-faqs ts-py-80">
      <div class="ts-container">
        <header class="text-center mb-40">
          <h2 class="ts-fs-2 fw-800 mb-24 text-center mb-8">
            FAQ's
          </h2>
        </header>
        <div class="ts-faq__content ts-fs-6">
          <ol class="ts-faq-item">
            <li>
              <span class="fw-700">
                How is this different from other consulting engagements?
              </span>
              <p>
                I have deep operational experience in early-stage startups, spanning product, design,
                and engineering. In addition, I've gained unofficial experience in marketing,
                branding, copywriting, and more&mdash;whatever it takes to ship fast. My diverse experiences and
                successes in process improvement provides me a unique ability to see through different
                lenses and figure out the root causes. I can also help the team to
                implement the recommendations, ensuring they are not merely left as strategies
                collecting dust.
              </p>
            </li>
            <li>
              <span class="fw-700">
                How will you be able to figure out what the challenges are?
              </span>
              <p>
                My extensive training and experience in listening to users, understanding their
                unspoken needs, and designing experiences that address those needs enable me to do
                the same for your team. I developed my <a href="/communication-coaching">communication coaching</a> 
                approach while working with teams
                navigating the <a href="https://fora.com/blog/failing-to-success/">challenges of going from 0 to 1</a> 
                for the first time, tailoring my methods to suit their specific situation.
                Our collaboration will be a co-creation process, with ample feedback from both you
                and your team.
              </p>
            </li>
            <li>
              <span class="fw-700">
                What if we discover gaps where you don't have expertise? 
              </span>
              <p>
                I am self-aware enough to recognize when additional help is needed and candid enough
                to tell you. If necessary, I can refer you to other leaders in engineering, product,
                <a href="https://www.melindachung.com/consulting">marketing</a>, executive coaching, and other areas who might be able to help you.
              </p>
            </li>
            <li>
              <span class="fw-700">
                Can't the team just work faster or more?
              </span>
              <p>
                Challenges in shipping quickly are rarely (if ever) caused by teams not working hard
                enough or fast enough, from my experience. If anything, they might be working too
                much and burning out. Very often, the lack of focus and and shifting priorities
                compete for their attention, among other challenges. So no, that won't help.
              </p>
            </li>
            <li>
              <span class="fw-700">
                Won't you just tell me that I need help with design, team communication and product
                development?
              </span>
              <p>
                Broadly speaking, most teams could benefit from all three. Given
                unlimited time, we could achieve many things. Where I am most effective is in
                uncovering real needs and prioritizing for the best outcomes given limited time and
                resources. The real value lies in the practical details of what we can achieve given
                the constraints.
              </p>
            </li>
          </ol>
          <p class="mt-48">
            More questions?  
            <a class="ts-text-blue-2 text-decoration-none" href="https://calendar.app.google/gSiN2bc8TbPgjuwG9">Schedule
            your 30-minute consultation.
            </a>
          </p>
        </div>
      </div>
    </section>
    <section>
      <div class="ts-sidebar text-center">
        <div class="email-cta pr-24 ts-text-gray-7 ts-fs-6 fw-300 mb-24 mt-16">
          Schedule your 30-minute consultation
        </div>
        <a
          class="ts-btn ts-btn-primary ts-fs-6 text-decoration-none rounded-4 text-uppercase fw-500"
          href="https://calendar.app.google/gSiN2bc8TbPgjuwG9">
          Schedule
        </a>
      </div>
    </section> 
    <footer class="ts-footer text-center mb-64">
      <div class="ts-container">
        <div class="ts-footer__content">
            &copy; Unlikely LLC
            <script>document.write( new Date().getFullYear() );</script>
        </div>
      </div>
    </footer>

    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script src="../js/common.js"></script>
    <script src="../js/index.js"></script>
  </body>
</html>


