<!DOCTYPE html>
<html lang="en">
  <head>
  <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-F6SNPYZPH7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-F6SNPYZPH7');
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ship products faster.</title>
    <meta name="description" content="Partnering with startup founders and innovative leaders to provide product facilitation, communication coaching and design leadership.">
    <meta property="og:url" content="url('/')">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Ship products faster.">
    <meta property="og:image" content="/assets/images/home/comments.png">
    <meta property="og:description" content="Partnering with startup founders and innovative leaders to provide product facilitation, communication coaching and design leadership.">

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="./assets/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./assets/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="./assets/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="./assets/favicon/site.webmanifest" />
    <!-- Link Swiper's CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
    />

    <link rel="stylesheet" href="./styles/common.css" />
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-F6SNPYZPH7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-F6SNPYZPH7');
    </script>
    <script src="https://kit.fontawesome.com/efed93f1aa.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <nav class="ts-navbar-container">
      <div class="ts-container">
        <header class="ts-navbar">
          <a class="ts-navbar__logo" href="/">
            <img src="./assets/images/logo.png" height="40px" alt="Unlikely"/>
          </a>
          <div class="ts-burger">
            <i class="ts-open fa-solid fa-bars"></i>
            <span class="ts-close">
              <i class="fa-solid fa-xmark"></i>
            </span>
          </div>
          <nav class="ts-navbar__navbar">
            <ul class="ts-links">
              <li>
                <a class="ts-navbar__link" href="/blog"> Blog </a>
              </li> 
              <li class="ts-btn-container d-none">
                <a
                  class="ts-btn ts-btn--sm ts-btn-primary ts-fs-6 text-decoration-none rounded-4 text-uppercase fw-500"
                  href="mailto:tina@unlikely.so">
                  Contact
                </a>
              </li>
            </ul>
          </nav>
        </header>
      </div>
    </nav>

    <section
        id="work"
        class="ts-py-96" >
      <div class="ts-container">
        <div class="ts-assess__content mb-40 mt-40 ts-bg-green ts-text-white rounded-4">
          <header class="text-center">
            <h1 class="ts-fs-2 fw-800 text-center mb-8">
              Ship products faster.
            </h1>
          </header>
          <div class="ts-assess__container mw-560">
          <img class="bg-quote" src="../assets/images/bg-quote.svg" alt="..." />
          <!-- Swiper -->
              <div class="swiper-slide ts-fs-5 fw-300 ts-font-nunito-sans mt-24">
                <p class="mb-40">
                    As a startup founder and CEO, and public company exec, Tina was one of my most
                    trusted advisors.  Good managers solve hard problems.  Tina goes one step
                    further.  She builds trust and digs into the personal whys (she is one of the
                    most authentic people I've met) but is also pragmatic – she prioritizes the
                    company first, followed by the team, then the individual.  This gave us a deeper
                    understanding of our business and helped us make better decisions.
                </p>
                <a href="https://www.linkedin.com/in/paulklee" class="text-decoration-none">
                  <p class="text-right text-uppercase fw-700 ts-fs-5 ts-text-white">
                    Paul Lee
                    <img width="16" src="../assets/images/linkedin-white.png" alt="LinkedIn"/>
                  </p>
                  <p class="text-right ts-text-gray-10">CEO and Founder</p>
                </a>
              </div>
        </div>
        </div>
        <div>
          <div class="ts-let-together__content fw-300">
            <div class="work__content box2">
              <h5 class="ts-text-green ts-fs-5 fw-800 text-uppercase">
                Design leadership
              </h5>
              <p class="ts-fs-6 mb-24 mt-16">
                Your users aren't connecting with your product as expected. We can build a
                strong design practice to create user experiences that bridge your vision with user impact.
              </p>
              <a class="ts-fs-6 ts-text-blue-2 text-decoration-none ts-btn-seemore" href="/design-leadership">
                Learn more
                <i class="icon-shift ts-fs-7 fa-solid fa-arrow-right"></i>
              </a>
            </div>
            <div class="work__content box4">
              <h5 class="ts-text-green ts-fs-5 fw-800 text-uppercase">
                Communication coaching
              </h5>
              <p class="ts-fs-6 mb-24 mt-16">
                Your team's time is consumed by challenging interpersonal dynamics. Learning to
                communicate effectively will help the team stay focused on delivering results.
              </p>
              <a class="ts-fs-6 ts-text-blue-2 text-decoration-none ts-btn-seemore" href="/communication-coaching">
                Learn more
                <i class="icon-shift ts-fs-7 fa-solid fa-arrow-right"></i>
              </a>
            </div>
 
            <div class="work__content box5">
              <h5 class="ts-text-green ts-fs-5 fw-700 text-uppercase">
                Product facilitation
              </h5>
              <p class="ts-fs-6 mb-24 mt-16">
                Your team has many great ideas, but there isn’t enough time to execute. We can
                revamp your process to help the team ship in weeks, not months.
              </p>
              <a class="ts-fs-6 ts-text-blue-2 text-decoration-none ts-btn-seemore" href="/product-facilitation">
                Learn more
                <i class="icon-shift ts-fs-7 fa-solid fa-arrow-right"></i>
              </a>
            </div>
         </div>
      </div>
    </section>


    <section class="ts-bg-gray-8" id="about">
      <div>
        <div class="ts-about__content ts-container rounded-4 mw-560">
          <div class="ts-about__text">
            <h3 class="ts-fs-4 text-uppercase fw-900">Tina Nguyen</h3>
            <div class="d-flex align-items-center gap-4 mb-24">
              <a href="https://www.linkedin.com/in/nanguyen" class="mt-2">
              <img width="24"
                   src="../assets/images/linked-in.png"
                   alt="LinkedIn"/>
              </a>
            </div>
            <p class="ts-fs-6 mb-24">
              My strategic thinking enables me to quickly assess complex
              situations and develop insightful solutions&mdash;there's very little that I can't figure
              out. 
            </p>
            <p class="ts-fs-6 mb-24">
              Combined with my years of experience as VP of Design, Director of Product Management,
              and software engineer at
              startups and established companies, this superpower has enabled me to achieve
              impacts such as uncovering user needs, improving team dynamics,
              supercharging others' growth, transforming organizational processes, and successfully navigating
              0→1.
            </p>

            <p class="ts-fs-6 mb-24">
              I lead with empathy, focusing on collaboration and growth to create a culture of
              excellence and positive impact for individuals, teams, organizations and end users. I approach challenging situations with openness, humor, and optimism,
              motivating others to use their agency to solve difficult problems. My intimate
              familiarity with risk and failure enables me to manage them well&mdash;I do not suffer from
              decision paralysis.
            </p>
        <a
          class="ts-btn ts-btn-primary ts-fs-6 text-decoration-none rounded-4 text-uppercase fw-500"
          href="mailto:tina@unlikely.so">
          Let's chat
        </a>
          </div>
        </div>
      </div>
    </section>

     <section class="ts-py-80">
      <div class="ts-container">
        <h3 class="ts-fs-3 fw-800 mb-24">0&rarr;1 Lessons</h3>
        <div class="ts-container p-0">
          <div class="ts-blog-group mb-24">
            {% set posts = collections.posts | reverse | limit(3) %}
            {% for post in posts %}
              {% include "postlist.njk" %}
            {% endfor %}
          </div>
        <a class="ts-fs-6 ts-text-blue-2 text-decoration-none ts-btn-seemore fw-300" href="/blog">See all
         <i class="icon-shift ts-fs-7 fa-solid fa-arrow-right"></i>
        </a>
        </div>
      </div>
    </section>


    <footer class="ts-footer text-center mb-64">
      <div class="ts-container">
        <div class="ts-footer__content">
            &copy; Unlikely LLC
            <script>document.write( new Date().getFullYear() );</script>
        </div>
      </div>
    </footer>

    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script src="./js/common.js"></script>
    <script src="./js/index.js"></script>
  </body>
</html>

