<!DOCTYPE html>
<html lang="en">
  <head>
  <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-F6SNPYZPH7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-F6SNPYZPH7');
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ship products faster.</title>
    <meta name="description" content="Partnering with startup founders and innovative leaders to provide product facilitation, communication coaching and design leadership.">
    <meta property="og:url" content="url('/')">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Ship products faster.">
    <meta property="og:image" content="/assets/images/home/comments.png">
    <meta property="og:description" content="Partnering with startup founders and innovative leaders to provide product facilitation, communication coaching and design leadership.">

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="./assets/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./assets/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="./assets/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="./assets/favicon/site.webmanifest" />
    <!-- Link Swiper's CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
    />

    <link rel="stylesheet" href="./styles/common.css" />
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-F6SNPYZPH7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-F6SNPYZPH7');
    </script>
    <script src="https://kit.fontawesome.com/efed93f1aa.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <nav class="ts-navbar-container">
      <div class="ts-container">
        <header class="ts-navbar">
          <a class="ts-navbar__logo" href="/">
            <img src="./assets/images/logo.png" height="40px" alt="Unlikely"/>
          </a>
          <div class="ts-burger">
            <i class="ts-open fa-solid fa-bars"></i>
            <span class="ts-close">
              <i class="fa-solid fa-xmark"></i>
            </span>
          </div>
          <nav class="ts-navbar__navbar">
            <ul class="ts-links">
              <li>
                <a class="ts-navbar__link" href="/about"> About </a>
              </li>
              <li>
                <a class="ts-navbar__link" href="/blog"> Blog </a>
              </li> 
              <li class="ts-btn-container d-none">
                <a
                  class="ts-btn ts-btn--sm ts-btn-primary ts-fs-6 text-decoration-none rounded-4 text-uppercase fw-500"
                  href="mailto:tina@unlikely.so">
                  Contact
                </a>
              </li>
            </ul>
          </nav>
        </header>
      </div>
    </nav>

    <section
      class="ts-hero text-center"
      style="background: url('./assets/images/home/tracks-bg.png') center top; background-size: cover;"> 
      <div class="ts-container">
        <div class="ts-hero__content">
          <h1>
            <span class="ts-text-white ts-fs-1-ii tagline fw-700">
              Ship products faster.
            </span>
            <span class="subtagline ts-fs-5 ts-text-gray-5 fw-200 ts-font-inter">
              Fix team processes to achieve your vision.
            </span>
            <a class="mt-16 ts-btn ts-btn--sm ts-btn-primary ts-fs-7 text-decoration-none rounded-4 text-uppercase fw-500" href="/strategic-assessment">
              Get started
            </a>
          </h1>
        </div>
      </div>
    </section>

    <section class="ts-bg-white ts-py-64">
      <div class="ts-container ts-container-lg-down-none">
        <div class="ts-what__content rounded-4">
          <div>
            <h5 class="ts-text-green ts-fs-5 fw-700 text-uppercase">
              Who
            </h5>
            <p class="ts-fs-6 mb-32 mt-16">
              As a startup founder or innovation leader, you're passionate about getting your
              products out into the world quickly. However, you're facing frustrating obstacles that
              are preventing your vision from becoming a reality&mdash;your team might be bogged
              down by ineffective processes. Let's fix them so the team can focus on bringing your
              vision to life.
            </p>

            <h5 class="ts-text-green ts-fs-5 fw-700 text-uppercase">
              What
            </h5>
            <p class="ts-fs-6 mb-32 mt-16">
              Partner with me to dive deep into your team's challenges that are hindering product
              development. Together, we can overcome these operational hurdles that slows progress,
              allowing your team's efforts to make a real impact.
            </p>
            <h5 class="ts-text-green ts-fs-5 fw-700 text-uppercase">
              How
            </h5>
            <p class="ts-fs-6 mt-16 mb-16">
              Each team is unique, so there's no one-size-fits-all solution. I believe that the best
              solutions emerge from a deep understanding of your challenges. Let's work closely
              together to diagnose these challenges and iterate until we reach the desired outcomes.
            </p>
          </div>

          <div>
          <div class="p-40 ts-bg-gray-8">
            <div class="ts-profile">
              <div>
                <img
                  class="ts-profile__img"
                  src="../assets/images/blog/user.png"
                  alt="Tina Nguyen"
                />
              </div>
              <div>
                <h6 class="ts-fs-5 fw-900 text-uppercase">Tina Nguyen</h6>
                <p class="ts-fs-6 ts-text-gray-9 fw-400">Founder</p>
              </div>
            </div>

            <p class="ts-fs-6 mt-24">
              An empathetic and execution-focused leader with over 15 years of experience in
              product, design, and engineering, achieving exceptional outcomes and empowering others
              to do the same.
            </p>
            <p class="ts-fs-6 mt-24">
              <a class="ts-fs-6 ts-text-blue-2 text-decoration-none ts-btn-seemore" href="/about">
                Learn more
                <i class="icon-shift ts-fs-7 fa-solid fa-arrow-right"></i>
              </a>
            </p>
          </div>
          </div>
        </div>
      </div>
    </section>


    <section
        id="work"
        class="ts-py-64 ts-bg-gray-1 ts-text-gray-7" 
        style="background: url('./assets/images/home/fun-bg.png') no-repeat center center fixed; background-size: cover;"> 
      <div class="ts-container">
        <div class="ts-assess__content mb-40 ts-bg-green ts-text-gray-7 rounded-4">
          <header class="text-center">
            <h2 class="ts-fs-2 fw-800 text-center mb-8">
              How it works
            </h2>
          </header>
          <div class="ts-assess__container mw-560">
            <p class="ts-fs-6 mb-24 mt-16">
              Your team is talented, and they have the potential to ship products much faster. But
              you're not sure what's causing the slowdown.  We can gain a holistic understanding
              of the organizational challenges that are hindering progress and improve them so
              your team can realize your vision.
              <br/><br/>
              Helping your team to ship faster might involve improving design, team
              communication, or product development processes, or all three.
            </p>
            <a class="mt-16 ts-btn ts-btn--sm ts-btn-clear ts-fs-7 text-decoration-none rounded-4 text-uppercase fw-500" href="/strategic-assessment">
              Get started
            </a>
          </div>
        </div>
        <div>
          <div class="ts-let-together__content fw-300">
            <div class="work__content box2">
              <h5 class="ts-text-green ts-fs-5 fw-800 text-uppercase">
                Design leadership
              </h5>
              <p class="ts-fs-6 mb-24 mt-16">
                Your users aren't connecting with your product as expected. We can build a
                strong design practice to create user experiences that bridge your vision with user impact.
              </p>
              <a class="ts-fs-6 ts-text-blue-2 text-decoration-none ts-btn-seemore" href="/design-leadership">
                Learn more
                <i class="icon-shift ts-fs-7 fa-solid fa-arrow-right"></i>
              </a>
              <p class="ts-bg-gray-1 p-16 rounded-4 ts-fs-7 ts-text-gray-4 mt-40 text-center">
                Best for early-stage startups
              </p>
            </div>
            <div class="work__content box4">
              <h5 class="ts-text-green ts-fs-5 fw-800 text-uppercase">
                Communication coaching
              </h5>
              <p class="ts-fs-6 mb-24 mt-16">
                Your team's time is consumed by challenging interpersonal dynamics. Learning to
                communicate effectively will help the team stay focused on delivering results.
              </p>
              <a class="ts-fs-6 ts-text-blue-2 text-decoration-none ts-btn-seemore" href="/communication-coaching">
                Learn more
                <i class="icon-shift ts-fs-7 fa-solid fa-arrow-right"></i>
              </a>
              <p class="ts-bg-gray-1 p-16 rounded-4 ts-fs-7 ts-text-gray-4 mt-40 text-center">
                Best for product innovation orgs
              </p>
            </div>
 
            <div class="work__content box5">
              <h5 class="ts-text-green ts-fs-5 fw-700 text-uppercase">
                Product facilitation
              </h5>
              <p class="ts-fs-6 mb-24 mt-16">
                Your team has many great ideas, but there isn’t enough time to execute. We can
                revamp your process to help the team ship in weeks, not months.
              </p>
              <a class="ts-fs-6 ts-text-blue-2 text-decoration-none ts-btn-seemore" href="/product-facilitation">
                Learn more
                <i class="icon-shift ts-fs-7 fa-solid fa-arrow-right"></i>
              </a>
              <p class="ts-bg-gray-1 p-16 rounded-4 ts-fs-7 ts-text-gray-4 mt-40 text-center">
                Best for product innovation orgs
              </p>
            </div>
         </div>
      </div>
    </section>

    <section>  
      <div class="ts-sidebar text-center">
          <p class="email-cta pr-24 ts-text-gray-7 ts-fs-6 fw-300 mb-24">
            Let's see how we might speed up execution
          </p>
        <a
          class="ts-btn ts-btn--sm ts-btn-primary ts-fs-7 text-decoration-none rounded-4 text-uppercase fw-500"
          href="mailto:tina@unlikely.so">
          Contact
        </a>
      </div>
    </section>
    <!-- Who we are -->
    <section class="ts-py-80 ts-bg-gray-7">
      <div class="ts-container">
        <div class="mw-560 mx-auto">
          <h2 class="ts-fs-2 fw-800 mb-24 text-center">Who you are</h2>
          <div>
            <p class="ts-fs-6 mb-24">
              As the product leader of a scaling company, you want team members to
              maintain the deep connection to users, the sense of urgency, and ownership that you
              feel. To operate with the scrappiness that was present in the early days requires
              an intentional and concerted effort.
            </p>
            <p class="ts-fs-6 mb-24">
              Working together, we can accelerate the way your team operates by fixing what's
              slowing things down. Unblocking the team will help them focus on the things that will
              move the needle.
            </p>
            <p class="ts-fs-6 mb-24">
              By learning and iterating quickly, finding product-market fit for new
              features and products will not be so unlikely.
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- Reviews 2  -->
    <section class="ts-py-80 ts-bg-blue ts-text-gray-7">
      <div class="ts-container">
        <div class="rounded-4">
          <!-- Swiper -->
          <div class="swiper reviewSwiper2 ts-font-nunito-sans">
            <div class="swiper-wrapper ts-fs-5 fw-300">
             <div class="swiper-slide">
                <div class="d-flex gap-8">
                  <div>
                    <img width="20" src="./assets/icons/quote.svg" alt="..." />
                  </div>
                  <div>
                    <p class="mb-24">
                      Tina’s history as an engineer and a designer at start-ups
                      have shaped her into a powerhouse with lots of insights to share.
                      In addition to her research and design skillset, she has an uncanny
                      ability to quickly assess team dynamics and identify and leverage
                      the strengths of each team member. This ensures that ideas flow
                      seamlessly within teams and contributes to the overall success of
                      the project.
                    </p>
                      <a href="https://www.linkedin.com/in/lisa-peterson" class="text-decoration-none ts-text-white">
                        <p class="text-right text-uppercase fw-700 ts-fs-7">
                          Lisa Peterson
                          <img width="12" src="./assets/images/linkedin-white.png" alt="LinkedIn"/>
                          </p> 
                        <p class="text-right ts-text-gray-10">Design Director</p>
                      </a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="d-flex gap-8">
                  <div>
                    <img width="20" src="./assets/icons/quote.svg" alt="..." />
                  </div>
                  <div>
                    <p class="mb-24">
                    She played a pivotal role in helping us discover our strengths, voice our concerns,
                    and navigate our way to delivering results. Her approach of asking critical
                    questions, both qualitative and quantitative, along with revisiting her insights
                    and notes from previous experiment streams, significantly improved our team
                    dynamics and flow. Working with Tina was not only professionally rewarding
                    but also a great deal of fun.
                    </p>
                      <a href="https://www.linkedin.com/in/arjunvariar/" class="text-decoration-none ts-text-white">
                        <p class="text-right text-uppercase fw-700 ts-fs-7">
                          Arjun Variar
                          <img width="12" src="./assets/images/linkedin-white.png" alt="LinkedIn"/>
                          </p> 
                        <p class="text-right ts-text-gray-10">Staff Software Engineer</p>
                      </a>
                  </div>
                </div>
              </div> 
              <div class="swiper-slide">
                <div class="d-flex gap-8">
                  <div>
                    <img width="20" src="./assets/icons/quote.svg" alt="..." />
                  </div>
                  <div>
                    <p class="mb-24">
                      Working with Tina was a transformative experience, particularly in
                      terms of personal and professional growth. Through her mentorship
                      and guidance, I gained a deeper understanding of startups and
                      honed my abilities to deliver impactful insights. Tina’s
                      dedication to fostering a culture of growth is truly inspiring.
                    </p>
                    <a href="https://www.linkedin.com/in/nourdabbour/" class="text-decoration-none ts-text-white">
                      <p class="text-right text-uppercase fw-700 ts-fs-7">
                        Nora Dabbour
                        <img width="12" src="./assets/images/linkedin-white.png" alt="LinkedIn"/>
                      </p> 
                      <p class="text-right ts-text-gray-10">Senior User Experience Researcher</p>
                    </a>
                  </div>
                </div>
              </div> 
              <div class="swiper-slide">
                <div class="d-flex gap-8">
                  <div>
                    <img width="20" src="./assets/icons/quote.svg" alt="..." />
                  </div>
                  <div>
                    <p class="mb-24">
                      Tina played a pivotal role in my professional and personal
                      development.  She genuinely cared for each team member’s
                      growth, and she ensured that the projects I was involved
                      in aligned with my aspirations as a product designer. Tina
                      has a remarkable ability to create an environment where everyone feels
                      comfortable opening up for candid and meaningful conversations.
                    </p>
                    <a href="https://www.linkedin.com/in/noa-kim" class="text-decoration-none ts-text-white">
                      <p class="text-right text-uppercase fw-700 ts-fs-7">Noa Kim
                        <img width="12" src="./assets/images/linkedin-white.png" alt="LinkedIn"/>
                      </p> 
                      <p class="text-right ts-text-gray-10">Senior Product Designer</p>
                    </a>
                  </div>
                </div>
              </div> 
              <div class="swiper-slide">
                <div class="d-flex gap-8">
                  <div>
                    <img width="20" src="./assets/icons/quote.svg" alt="..." />
                  </div>
                  <div>
                    <p class="mb-24">
                      Decision-making was clear and transparent, and involved the team in ways that
                      were helpful but not distracting, and inclusive without being stymied by group
                      decision paralysis.
                    </p>
                    <a href="https://www.linkedin.com/in/alyssacaulley" class="text-decoration-none ts-text-white">
                      <p class="text-right text-uppercase fw-700 ts-fs-7">
                        Alyssa Caulley
                        <img width="12" src="./assets/images/linkedin-white.png" alt="LinkedIn"/>
                      </p>
                      <p class="text-right ts-text-gray-10">Engineering Technical Lead</p>
                    </a>
                  </div>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="d-flex gap-8">
                  <div>
                    <img width="20" src="./assets/icons/quote.svg" alt="..." />
                  </div>
                  <div>
                    <p class="mb-24">
                        Tina played a pivotal role in enhancing our design maturity,
                        bringing a clear vision of what makes a successful design
                        team. What stood out to me was Tina's emphasis on
                        individual growth. She was keen on understanding each
                        team member's unique qualities, ensuring that the team
                        had a personalized career path aligned with their
                        aspirations and company’s product goals. Her design
                        leadership had a lasting impact on our team, shaping us
                        for continued success.
                    </p>
                    <a href="https://www.linkedin.com/in/kyle-kim-272a26" class="text-decoration-none ts-text-white">
                      <p class="text-right text-uppercase fw-700 ts-fs-7">
                        Kyle Kim
                        <img width="12" src="./assets/images/linkedin-white.png" alt="LinkedIn"/>
                      </p>
                      <p class="text-right ts-text-gray-10">Design Manager</p>
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="swiper-pagination ts-review-pagination-2 p-24"></div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="ts-sidebar text-center">
        <div class="email-cta pr-24 ts-text-gray-7 ts-fs-6 fw-300 mb-24 mt-16">
          Schedule your free 45-minute consultation
        </div>
        <a
          class="ts-btn ts-btn-primary ts-fs-6 text-decoration-none rounded-4 text-uppercase fw-500"
          href="https://calendar.app.google/gSiN2bc8TbPgjuwG9">
          Schedule
        </a>
      </div>
    </section>
    <section class="ts-py-80">
      <div class="ts-container">
        <h3 class="ts-fs-3 fw-800 mb-24">Latest blog posts</h3>
        <div class="ts-container p-0">
          <div class="ts-blog-group mb-24">
            {% set posts = collections.posts | reverse | limit(3) %}
            {% for post in posts %}
              {% include "postlist.njk" %}
            {% endfor %}
          </div>
        <a class="ts-fs-6 ts-text-blue-2 text-decoration-none ts-btn-seemore fw-700" href="/blog">See all
         <i class="icon-shift ts-fs-7 fa-solid fa-arrow-right"></i>
        </a>
        </div>
      </div>
    </section>


    <footer class="ts-footer text-center mb-64">
      <div class="ts-container">
        <div class="ts-footer__content">
            &copy; Unlikely LLC
            <script>document.write( new Date().getFullYear() );</script>
        </div>
      </div>
    </footer>

    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script src="./js/common.js"></script>
    <script src="./js/index.js"></script>
  </body>
</html>

