<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-F6SNPYZPH7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-F6SNPYZPH7');
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <meta name="description" content="Unlikely musings on new product development, interpersonal communications and product design.">
    <meta property="og:url" content="https://unlikely.so/blog">
    <meta property="og:type" content="blog">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:image" content="url('../assets/images/blog/hero-bg.jpg')">
    <meta property="og:description" content="Unlikely musings on new product development, interpersonal communications and product design.">

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../assets/favicon//apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../assets/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../assets/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="../assets/favicon/site.webmanifest" />
    <link rel="stylesheet" href="../styles/common.css" />
    <link rel="stylesheet" href="../styles/blog.css" />
    <!-- MailerLite Universal -->
    <script>
        (function(w,d,e,u,f,l,n){w[f]=w[f]||function(){(w[f].q=w[f].q||[])
        .push(arguments);},l=d.createElement(e),l.async=1,l.src=u,
        n=d.getElementsByTagName(e)[0],n.parentNode.insertBefore(l,n);})
        (window,document,'script','https://assets.mailerlite.com/js/universal.js','ml');
        ml('account', '705631');
    </script>
    <!-- End MailerLite Universal -->
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-F6SNPYZPH7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-F6SNPYZPH7');
    </script>
    <script src="https://kit.fontawesome.com/efed93f1aa.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="ts-navbar-container">
      <div class="ts-container">
        <header class="ts-navbar ts-navbar--light">
          <a class="ts-navbar__logo" href="/">
            <img src="../assets/images/logo-white.png" height="40px" alt="Unlikely"/>
          </a>
          <div class="ts-burger ts-text-white-60">
            <i class="ts-open fa-solid fa-bars"></i>
            <span class="ts-close">
              <i class="fa-solid fa-xmark"></i>
            </span>
          </div>
          <nav class="ts-navbar__navbar">
            <ul class="ts-links">
              <li>
                <a class="ts-navbar__link" href="/"> Home </a>
              </li>

              <li>
                <a class="ts-navbar__link ts-text-blue-2" href="/blog"> Blog </a>
              </li>
              <li class="ts-btn-container d-none">
                <a
                  class="ts-btn ts-btn--sm ts-btn-primary ts-fs-6 text-decoration-none rounded-4 text-uppercase fw-500"
                  href="mailto:tina@unlikely.so">
                  Contact
                </a>
              </li>
            </ul>
          </nav>
        </header>
      </div>
    </div>

    <section
      class="ts-hero ts-hero--lg"
      style="background-image: url('../assets/images/blog/hero-bg.jpg')"
    >
      <div class="ts-container">
        <div class="ts-hero__content">
          <h1 class="ts-fs-1-ii ts-text-white lh-130 text-center text-lg-start fw-200">
            {{ title }}
          </h1>
        </div>
      </div>
    </section>

    <section class="ts-py-80-2">
      <div class="ts-container">
        <div class="ts-blog-group mb-80">
            {% for post in collections.posts | reverse %}
              {% include "postlist.njk" %}
            {% endfor %}
        </div>
        <div class="ml-embedded" data-form="6UGoTA"></div>
      </div>
    </section>

    <footer class="ts-footer text-center mb-64">
      <div class="ts-container">
        <div class="ts-footer__content">
            &copy; Unlikely LLC
            <script>document.write( new Date().getFullYear() );</script>
        </div>
      </div>
    </footer>

    <script src="../js/common.js"></script>
  </body>
</html>

