<!DOCTYPE html>
<html lang="en">
  <head>
  <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-F6SNPYZPH7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-F6SNPYZPH7');
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Build trust through effective communication.</title>
    <meta name="description" content="Communicate for effective conflict resolution by learning how to handle difficult situations and confidently give and receive feedback.">
    <meta property="og:url" content="url('/team-communication')">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Build trust through effective communication.">
    <meta property="og:image" content="/assets/images/comms/ic_comments.png">
    <meta property="og:description" content="Communicate for effective conflict resolution by learning how to handle difficult situations and confidently give and receive feedback.">

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../assets/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../assets/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../assets/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="../assets/favicon/site.webmanifest" />
    <!-- Link Swiper's CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
    />

    <link rel="stylesheet" href="../styles/common.css" />

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-F6SNPYZPH7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-F6SNPYZPH7');
    </script>
    <script src="https://kit.fontawesome.com/efed93f1aa.js" crossorigin="anonymous"></script>
  </head>


  <body>
    <nav class="ts-navbar-container">
      <div class="ts-container">
        <header class="ts-navbar">
          <a class="ts-navbar__logo" href="/">
            <img src="../assets/images/logo.png" height="40px" alt="Unlikely"/>
          </a>
          <div class="ts-burger">
            <i class="ts-open fa-solid fa-bars"></i>
            <span class="ts-close">
              <i class="fa-solid fa-xmark"></i>
            </span>
          </div>
          <nav class="ts-navbar__navbar">
            <ul class="ts-links">
              <li>
                <a class="ts-navbar__link ts-text-blue-2" href="/"> Engagements </a>
              </li>
              <li>
                <a class="ts-navbar__link" href="/about"> About </a>
              </li>
              <li>
                <a class="ts-navbar__link" href="/blog"> Blog </a>
              </li> 
              <li class="ts-btn-container d-none">
                <a
                  class="ts-btn ts-btn--sm ts-btn-primary ts-fs-6 text-decoration-none rounded-4 text-uppercase fw-500"
                  href="mailto:tina@unlikely.so">
                  Contact
                </a>
              </li>
            </ul>
          </nav>
        </header>
      </div>
    </nav>

    <section
      class="ts-hero text-center"
      style="background: url('../assets/images/comms/coffee-bg.png') center top; background-size: cover;"> 
      <div class="ts-container">
        <div class="ts-hero__content">
          <h1 class="ts-fs-1 ts-text-white fw-100">
            Build trust through effective communication.
          </h1>
        </div>
      </div>
    </section>

    <section class="ts-work ts-py-96">
      <div class="ts-container">
        <div>
          <div class="ts-work__content fw-300 ts-text-gray-7">
            <div>
            <div>
              <h5 class="ts-text-green ts-fs-4 fw-800 text-uppercase">Team communication coaching</h5>
            </div>
              <p class="ts-fs-6 mt-32">
                As a forward-thinking leader, you understand the impact interpersonal challenges can
                have on your team’s productivity and well-being. While many teams struggle through
                or avoid these issues, a more effective approach is to equip your team with the
                skills to communicate effectively.
                <br/><br/>
                We can provide your team with actionable tools to confidently navigate
                difficult situations and strengthen work relationships.
                <br/><br/>
                Working with me, your team will:
              </p>
              <ul class="ts-fs-6 mb-24">
                <li>Gain a deeper understanding of team dynamics and identify growth opportunities</li>
                <li>earn how to give and receive feedback constructively</li>
                <li>Explore strategies for approaching difficult conversations</li>
                <li>Apply these skills to both one-on-one and team settings using real-world examples</li>
                <li>Develop the interpersonal skills necessary for greater effectiveness at work</li>
              </ul>

              <h6 class="ts-fs-7 fw-700 mb-8 text-uppercase">
                Who this is for
              </h6>
              <ul class="ts-fs-6 mb-24">
                <li>Teams working on new product development (it’s difficult)</li>
                <li>Teams in companies that are going through a lot of organizational changes</li>
                <li>Engineers who are afraid of admitting they have feelings (but not just for engineers)</li>
              </ul>
          </div>
            <div class="ts-sidebar-container">
              <div class="ts-sidebar rounded-4">
                <h5 class="ts-text-green ts-fs-6 fw-800 text-uppercase">
                  New product development
                </h5>
                <p class="rounded-4 ts-fs-6 fw-300 mb-24 mt-16">
                  Run a more effective product development process to ship in weeks, not months. 
                </p>
                <a class="ts-fs-6 ts-text-blue-2 text-decoration-none ts-btn-seemore" href="/new-product-development">
                  Learn more
                  <i class="icon-shift ts-fs-7 fa-solid fa-arrow-right"></i>
                </a>
              </div>
              <div class="ts-sidebar rounded-4">
                <h5 class="ts-text-green ts-fs-6 fw-800 text-uppercase">
                  Product design
                </h5>
                <p class="rounded-4 ts-fs-6 fw-300 mb-24 mt-16">
                  Uplevel your Design function to get to your next growth stage.
                </p>
                <a class="ts-fs-6 ts-text-blue-2 text-decoration-none ts-btn-seemore" href="/product-design">
                  Learn more
                  <i class="icon-shift ts-fs-7 fa-solid fa-arrow-right"></i>
                </a>
              </div>

            </div>
          </div>
        </div>  
      </div>
    </section>
    <section>
      <div class="ts-sidebar text-center">
        <div class="email-cta pr-24 ts-text-gray-7 ts-fs-6 fw-300 mb-24 mt-16">
          Let’s explore how we might uplevel your team’s communication   
        </div>
        <a
          class="ts-btn ts-btn-primary ts-fs-6 text-decoration-none rounded-4 text-uppercase fw-500"
          href="mailto:tina@unlikely.so">
          Contact
        </a>
      </div>
    </section>

    <!-- Testimonial -->
    <section class="ts-py-80 ts-bg-green ts-text-gray-7 review-section">
      <div class="ts-container">
        <div class="ts-review__content rounded-4">
          <img class="bg-quote" src="../assets/images/bg-quote.svg" alt="..." />
          <!-- Swiper -->
          <div class="swiper reviewSwiper ts-font-nunito-sans">
            <div class="swiper-wrapper ts-fs-4-ii mb-40 fw-300">
              <div class="swiper-slide">
                <p class="mb-40">
                  Tina's communication workshop takes the scariness out of what any team of humans
                  goes through when working together &mdash; emotions. She had us put the concepts we had
                  just learned into immediate practice by replaying past conversations that could
                  have gone better. Doing this as a team and openly discussing the scenarios gave us
                  a stable common ground that we can build on when future moments of tension
                  inevitably arise.
                </p>
                <a href="https://www.linkedin.com/in/romano" class="text-decoration-none ts-text-white">
                  <p class="text-right text-uppercase fw-700 ts-fs-5">
                    Raquel Romano
                    <img width="16" src="../assets/images/linkedin-white.png" alt="LinkedIn"/>
                  </p>
                  <p class="text-right ts-text-gray-10">Senior Director of Engineering</p>
                </a>
              </div>
            <div class="swiper-pagination ts-review-pagination"></div>
          </div>
        </div>
      </div>
    </section>

    <section class="ts-faqs ts-py-80">
      <div class="ts-container">
        <header class="text-center mb-40">
          <h2 class="ts-fs-2 fw-800 mb-24 text-center mb-8">
            FAQ's
          </h2>
        </header>
        <div class="ts-faq__content ts-fs-6">
          <ol class="ts-faq-item">
            <li>
              <span class="fw-700">
                Do we need communication training if we already have a great team culture?
              </span>
              <p>
                The <a href="/aita-at-work">disagreements</a> that can happen in any working relationships (even great ones),
                when left unaddressed, can add up and take a toll, distracting colleagues and
                detracting from performance. Having a framework to recognize and work through these
                challenges will build stronger relationships.
                <br/><br/>

                This is especially true when working on new product development. The process takes a
                significant mental, emotional and physical toll and is difficult if you haven’t
                done it before. Working with someone who is experienced in the process and has
                guided teams ensures that the team can manage the uncertainty and stay on track.
              </p>
            </li>
            <li>
              <span class="fw-700">
                The team is already high-performing so this doesn’t seem necessary?
              </span>
              <p>
                High-performing teams will benefit from learning how to manage their own emotions
                and other team members’. Fast-paced environments are challenging and learning how to
                resolve disagreements effectively when they arise will ensure continued high
                performance.
              </p>
            </li>
            <li>
              <span class="fw-700">
                What teams would this be good for?
              </span>
              <p>
                Teams that value doing their best work in positive work environments and, in short,
                have no desire to be miserable at work.
              </p>
            </li>
            <li>
              <span class="fw-700">
                Is this workshop remote or in person?
              </span>
              <p>
                It’s typically easier for this workshop to be in-person during a team offsite or
                bonding event. If the team is distributed, then a remote option also works.
              </p>
            </li>
            <li>
              <span class="fw-700">
                Why is this beneficial?
              </span>
              <p>
                People challenges are the hardest to work through, more so than any technical
                challenges. To be promoted to senior levels, team members need to be to manage
                stakeholders and create strong working relationships.
              </p>
            </li>
            <p>
              More questions? 
              <a
                class="ts-text-blue-2 text-decoration-none" href="mailto:tina@unlikely.so">
                Let's chat.
              </a>
            </p>
          </ol>
        </div>
      </div>
    </section>
  
    <!-- Reviews 2  -->
    <section class="ts-py-96 ts-bg-blue ts-text-gray-7">
      <div class="ts-container">
        <div class="rounded-4">
          <!-- Swiper -->
          <div class="swiper reviewSwiper2 ts-font-nunito-sans">
            <div class="swiper-wrapper ts-fs-6 fw-300">
              <div class="swiper-slide">
                <div class="d-flex gap-8">
                  <div>
                    <img width="20" src="../assets/icons/quote.svg" alt="..." />
                  </div>
                  <div>
                    <p class="mb-24">
                      I thoroughly enjoyed the interpersonal communications workshop
                      led by Tina Nguyen. The discussion included a framework for
                      approaching tough conversations, and I truly appreciated the
                      thoughtful approach Tina maintained throughout the entire program.
                      Each time I participated in the workshop (yes, I attended more
                      than once!), I felt that Tina created a safe space for everyone
                      to share and learn together. I walked away from Tina’s workshop
                      with an enhanced communications skillset, all thanks to her
                      wonderful guidance.
                    </p>
                    <a href="https://www.linkedin.com/in/patrickclinger" class="text-decoration-none ts-text-white">
                        <p class="text-right text-uppercase fw-700 ts-fs-7">
                          Patrick Clinger
                          <img width="12" src="../assets/images/linkedin-white.png" alt="LinkedIn"/>
                        </p>
                        <p class="text-right ts-text-gray-10">Director of Engineering</p>
                    </a>
                  </div>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="d-flex gap-8">
                  <div>
                    <img width="20" src="../assets/icons/quote.svg" alt="..." />
                  </div>
                  <div>
                    <p class="mb-24">
                        I took the interpersonal communications workshop led
                        by Tina.  I learned important lessons around how to
                        effectively communicate in difficult situations and how
                        to manage my own feelings in such situations to be able
                        to ultimately move forward.  This is by no means an easy
                        thing to do and Tina knew this; this is why she would
                        gently probe us to practice on the spot with other
                        individuals to solidify such a skillset.  Tina taught
                        the workshop in true Tina style - ensuring everyone felt
                        comfortable while simultaneously pushing us out of our
                        comfort zone. Her authentic approach and general desire
                        to make sure everyone came out of the workshop with
                        something was evident and appreciated throughout. To
                        this day, when I get upset (whether at home or at work) I
                        take a breath, think about the template of how to communicate
                        in such situations and go from there. It’s been a
                        real game changer! 
                    </p>
                    <a href="https://www.linkedin.com/in/tharshika-gnanachelvan-607544144/" class="text-decoration-none ts-text-white">
                    <p class="text-right text-uppercase fw-700 ts-fs-7">
                      Tharshika Gnanachelvan
                      <img width="12" src="../assets/images/linkedin-white.png" alt="LinkedIn"/>
                    </p>
                    <p class="text-right ts-text-gray-10">Senior Product Manager</p>
                  </a>
                  </div>
                </div>
              </div> 

              <div class="swiper-slide">
                <div class="d-flex gap-8">
                  <div>
                    <img width="20" src="../assets/icons/quote.svg" alt="..." />
                  </div>
                  <div>
                    <p class="mb-24">
                    I recently had the privilege of attending an interpersonal communications
                    workshop led by Tina. This session was a key
                    part of our professional development program and had a significant impact on my
                    approach to workplace communication.  Tina's guidance on tackling challenging
                    conversations, providing constructive feedback, and handling disagreements was
                    especially noteworthy. Her advice was practical and directly applicable, which
                    we could immediately put into practice through live pairing and scenario
                    role-playing. Thanks to this workshop, I now have a better framework for
                    approaching interpersonal communications.
                    </p>
                      <a href="https://www.linkedin.com/in/arjunvariar/" class="text-decoration-none ts-text-white">
                        <p class="text-right text-uppercase fw-700 ts-fs-7">
                          Arjun Variar
                          <img width="12" src="../assets/images/linkedin-white.png" alt="LinkedIn"/>
                          </p> 
                        <p class="text-right ts-text-gray-10">Staff Software Engineer</p>
                      </a>
                  </div>
                </div>
              </div> 
              <div class="swiper-slide">
                <div class="d-flex gap-8">
                  <div>
                    <img width="20" src="../assets/icons/quote.svg" alt="..." />
                  </div>
                  <div>
                    <p class="mb-24">
                      I attended Tina's Interpersonal Comms Workshop recently and it was really interesting!
                      The workshop has provided me with a guiding mental map that I use when I need to have
                      hard conversations at work. In the past I felt uncomfortable starting difficult
                      conversations because of the uncertainty around how the other person would react, or
                      uncertainty on the best way to present my thoughts. This workshop provided me with a
                      template for planning hard conversations. It also helped me understand the danger zones
                      that could cause negative or unintended reactions during a hard conversation. I am a Senior Software
                      Engineer (8 years experience), but I've never been taught this before. Given how
                      crucial conversations are in my field, I think all engineering organizations should
                      provide training for handling hard conversations.
                    </p>
                      <a href="https://www.linkedin.com/in/graemehbrowning/" class="text-decoration-none ts-text-white">
                        <p class="text-right text-uppercase fw-700 ts-fs-7">
                          Graeme Browning
                          <img width="12" src="../assets/images/linkedin-white.png" alt="LinkedIn"/>
                          </p> 
                        <p class="text-right ts-text-gray-10">Senior Software Engineer</p>
                      </a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="d-flex gap-8">
                  <div>
                    <img width="20" src="../assets/icons/quote.svg" alt="..." />
                  </div>
                  <div>
                    <p class="mb-24">
                      A particularly memorable experience was participating in an
                      interpersonal communications workshop &mdash; it provided a structured
                      framework for navigating challenging conversations in a professional
                      setting. The practice sessions in small groups were particularly
                      helpful, because they allowed us to engage in honest communication
                      outside our regular work settings, which helped create a safe and
                      trusting environment within the team. Tina's leadership in this
                      workshop reinforced her commitment to fostering effective communication
                      and building strong interpersonal relationships within our team. 
                    </p>
                    <a href="https://www.linkedin.com/in/noa-kim" class="text-decoration-none ts-text-white">
                      <p class="text-right text-uppercase fw-700 ts-fs-7">Noa Kim
                        <img width="12" src="../assets/images/linkedin-white.png" alt="LinkedIn"/>
                      </p> 
                      <p class="text-right ts-text-gray-10">Senior Product Designer</p>
                    </a>
                  </div>
                </div>
              </div> 


              <div class="swiper-slide">
                <div class="d-flex gap-8">
                  <div>
                    <img width="20" src="../assets/icons/quote.svg" alt="..." />
                  </div>
                  <div>
                    <p class="mb-24">
                      Tina's interpersonal communications workshop was invaluable
                      for our team. She guided us through a variety of challenging
                      topics like conflict resolution and the art of providing
                      constructive feedback. Her thoughtful approach and wealth
                      of experience helped everyone on the team grow. 
                    </p>
                    <a href="https://www.linkedin.com/in/seansleblanc/" class="text-decoration-none ts-text-white">
                    <p class="text-right text-uppercase fw-700 ts-fs-7">
                      Sean LeBlanc
                      <img width="12" src="../assets/images/linkedin-white.png" alt="LinkedIn"/>
                    </p>
                    <p class="text-right ts-text-gray-10">Staff Software Engineer</p>
                  </a>
                  </div>
                </div>
              </div> 

              <div class="swiper-slide">
                <div class="d-flex gap-8">
                  <div>
                    <img width="20" src="../assets/icons/quote.svg" alt="..." />
                  </div>
                  <div>
                    <p class="mb-24">
                      But the most valuable lesson was the communication
                      framework she left me with, I became a more effective communicator
                      and I’ve also noticed a culture shift within the team that made
                      giving and receiving feedback a natural and liberating experience. 
                    </p>
                    <a href="https://www.linkedin.com/in/daihan" class="text-decoration-none ts-text-white">
                      <p class="text-right text-uppercase fw-700 ts-fs-7">
                        Daihan Zhu
                        <img width="12" src="../assets/images/linkedin-white.png" alt="LinkedIn"/>
                      </p> 
                      <p class="text-right ts-text-gray-10">Product Designer</p>
                    </a>
                  </div>
                </div>
              </div>  

            </div>
            <div class="swiper-pagination ts-review-pagination-2 p-24"></div>
          </div>
        </div>
      </div>
    </section>
    <section class="ts-latest-blog ts-py-80">
      <div class="ts-container">
        <h3 class="ts-fs-3 fw-800 mb-24">Related posts</h3>
        <div class="ts-container p-0">
          <div class="ts-blog-group mb-24">
            {% set posts = collections['interpersonal comms'] | reverse | limit(3) %}
            {% for post in posts %}
              {% include "postlist.njk" %}
            {% endfor %}
          </div>
        <a class="ts-fs-6 ts-text-blue-2 text-decoration-none ts-btn-seemore fw-700" href="/blog">See all
         <i class="icon-shift ts-fs-7 fa-solid fa-arrow-right"></i>
        </a>
        </div>
      </div>
    </section>

    <footer class="ts-footer text-center mb-64">
      <div class="ts-container">
        <div class="ts-footer__content">
            &copy; Unlikely LLC
            <script>document.write( new Date().getFullYear() );</script>
        </div>
      </div>
    </footer>

    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script src="../js/common.js"></script>
    <script src="../js/index.js"></script>
  </body>
</html>


