<!DOCTYPE html>
<html lang="en">
  <head>
  <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-F6SNPYZPH7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-F6SNPYZPH7');
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Communication coaching</title>
    <meta name="description" content="Enable high performance through communication coaching to help teams learn how to confidently give and receive feedback.">
    <meta property="og:url" content="url('/communication-coaching')">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Communication coaching">
    <meta property="og:image" content="/assets/images/comms/ic_comments.png">
    <meta property="og:description" content="Enable high performance through communication coaching to help teams learn how to confidently give and receive feedback.">

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../assets/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../assets/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../assets/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="../assets/favicon/site.webmanifest" />
    <!-- Link Swiper's CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
    />

    <link rel="stylesheet" href="../styles/common.css" />

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-F6SNPYZPH7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-F6SNPYZPH7');
    </script>
    <script src="https://kit.fontawesome.com/efed93f1aa.js" crossorigin="anonymous"></script>
  </head>


  <body>
    <nav class="ts-navbar-container">
      <div class="ts-container">
        <header class="ts-navbar">
          <a class="ts-navbar__logo" href="/">
            <img src="../assets/images/logo.png" height="32px" alt="Unlikely"/>
          </a>
          <div class="ts-burger">
            <i class="ts-open fa-solid fa-bars"></i>
            <span class="ts-close">
              <i class="fa-solid fa-xmark"></i>
            </span>
          </div>
          <nav class="ts-navbar__navbar">
            <ul class="ts-links">
              <li>
                <a class="ts-navbar__link" href="/blog"> 0&rarr;1 Lessons</a>
              </li> 
              <li class="ts-btn-container d-none">
                <a
                  class="ts-btn ts-btn--sm ts-btn-primary ts-fs-6 text-decoration-none rounded-4 text-uppercase fw-500"
                  href="mailto:tina@unlikely.so">
                  Contact
                </a>
              </li>
            </ul>
          </nav>
        </header>
      </div>
    </nav>

    <section class="ts-work ts-py-96">
      <div class="ts-container">
        <div>
          <div class="ts-work__content fw-300 ts-text-black">
            <div>
            <div>
              <h1 class="ts-text-gray-2 ts-fs-3 fw-800">Communication Coaching</h1>
            </div>
              <p class="ts-fs-5 fw-400 mt-40">
                <em>
                  Disagreements and interpersonal tension are preventing your team from shipping
                  quickly. As the product leader, you need them to get past the storming phase and
                  get to performing quickly.
                </em>
                <br/><br/>
                  Team cohesion is of utmost importance and is most at risk in fast-paced
                  environments where friction is highly disruptive. Instead of avoiding tough
                  conversations, work with a partner who has
                  firsthand experience with the stresses of their work to coach them to resolve
                  their disagreements and focus on shipping.
              </p>
              <h6 class="ts-fs-5 fw-800 mb-8 mt-48 ts-text-green text-uppercase">
                How
              </h6>
              <ul class="ts-fs-5 fw-400 mb-24">
                <li>
                  Defuse potentially difficult situations by being more aware of the dynamics
                  involved
                </li>
                <li>
                  Proactively address differences by learning how to ask for feedback and to
                  listen with openness
                </li>
                <li>
                  Resolve frustrations by learning how to give feedback without triggering
                  defensivessness
                </li>
                <li>
                  Apply these skills in 1:1 and team settings using real-world examples
                </li>
                <li>
                  Become more self-aware by understanding the impact of their actions
                </li>
              </ul>
            </div>
            <div class="ts-sidebar-container">
              <div class="ts-sidebar rounded-4">
                <h5 class="ts-text-green ts-fs-5 fw-800 text-uppercase">
                  Product
                </h5>
                <p class="rounded-4 ts-fs-5 fw-400 mb-24 mt-16">
                  Streamline your 0&rarr;1 process to help the team ship in weeks, not months.
                </p>
                <a class="ts-fs-5 ts-text-blue-2 fw-400 text-decoration-none ts-btn-seemore" href="/product-facilitation">
                  Learn more
                </a>
              </div>
              <div class="ts-sidebar rounded-4">
                <h5 class="ts-text-green ts-fs-5 fw-800 text-uppercase">
                  Design
                </h5>
                <p class="rounded-4 ts-fs-5 fw-400 mb-24 mt-16">
                  Build a strong design practice to create user experiences that bridge your vision with user impact.
                </p>
                <a class="ts-fs-5 ts-text-blue-2 fw-400 text-decoration-none ts-btn-seemore" href="/design-leadership">
                  Learn more
                </a>
              </div>
            </div>
          </div>
        </div>  
      </div>
    </section>

    <!-- Reviews 2  -->
    <section class="ts-py-80 ts-bg-gray-7 ts-text-black">
      <div class="ts-container">
        <div class="rounded-4">
          <!-- Swiper -->
          <div class="swiper reviewSwiper2 ts-font-nunito-sans">
            <div class="swiper-wrapper ts-fs-5 fw-400">
              <div class="swiper-slide">
                <div class="d-flex gap-8">
                  <div>
                    <img width="20" src="../assets/icons/quote.svg" alt="..." />
                  </div>
                  <div>
                    <p class="mb-24">
                      Tina's communication workshop takes the scariness out of what any team of humans
                      goes through when working together &mdash; emotions. She had us put the concepts we had
                      just learned into immediate practice by replaying past conversations that could
                      have gone better. Doing this as a team and openly discussing the scenarios gave us
                      a stable common ground that we can build on when future moments of tension
                      inevitably arise.
                        </p>
                    <a href="https://www.linkedin.com/in/romano" class="text-decoration-none ts-text-black">
                    <p class="text-right text-uppercase fw-800 ts-fs-6">
                    Raquel Romano
                          <img width="12" src="../assets/images/linkedin.png" alt="LinkedIn"/>
                        </p>
                        <p class="text-right ts-text-gray-1">Senior Director of Engineering</p>
                    </a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="d-flex gap-8">
                  <div>
                    <img width="20" src="../assets/icons/quote.svg" alt="..." />
                  </div>
                  <div>
                    <p class="mb-24">
                      I thoroughly enjoyed the interpersonal communications workshop
                      led by Tina Nguyen. The discussion included a framework for
                      approaching tough conversations, and I truly appreciated the
                      thoughtful approach Tina maintained throughout the entire program.
                      Each time I participated in the workshop (yes, I attended more
                      than once!), I felt that Tina created a safe space for everyone
                      to share and learn together. I walked away from Tina’s workshop
                      with an enhanced communications skillset, all thanks to her
                      wonderful guidance.
                    </p>
                    <a href="https://www.linkedin.com/in/patrickclinger" class="text-decoration-none ts-text-black">
                        <p class="text-right text-uppercase fw-700 ts-fs-6">
                          Patrick Clinger
                          <img width="12" src="../assets/images/linkedin.png" alt="LinkedIn"/>
                        </p>
                        <p class="text-right ts-text-gray-1">Director of Engineering</p>
                    </a>
                  </div>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="d-flex gap-8">
                  <div>
                    <img width="20" src="../assets/icons/quote.svg" alt="..." />
                  </div>
                  <div>
                    <p class="mb-24">
                        I took the interpersonal communications workshop led
                        by Tina.  I learned important lessons around how to
                        effectively communicate in difficult situations and how
                        to manage my own feelings in such situations to be able
                        to ultimately move forward.  This is by no means an easy
                        thing to do and Tina knew this; this is why she would
                        gently probe us to practice on the spot with other
                        individuals to solidify such a skillset.  Tina taught
                        the workshop in true Tina style - ensuring everyone felt
                        comfortable while simultaneously pushing us out of our
                        comfort zone. Her authentic approach and general desire
                        to make sure everyone came out of the workshop with
                        something was evident and appreciated throughout. To
                        this day, when I get upset (whether at home or at work) I
                        take a breath, think about the template of how to communicate
                        in such situations and go from there. It’s been a
                        real game changer! 
                    </p>
                    <a href="https://www.linkedin.com/in/tharshika-gnanachelvan-607544144/" class="text-decoration-none ts-text-black">
                    <p class="text-right text-uppercase fw-700 ts-fs-6">
                      Tharshika Gnanachelvan
                      <img width="12" src="../assets/images/linkedin.png" alt="LinkedIn"/>
                    </p>
                    <p class="text-right ts-text-gray-1">Senior Product Manager</p>
                  </a>
                  </div>
                </div>
              </div> 

              <div class="swiper-slide">
                <div class="d-flex gap-8">
                  <div>
                    <img width="20" src="../assets/icons/quote.svg" alt="..." />
                  </div>
                  <div>
                    <p class="mb-24">
                    I recently had the privilege of attending an interpersonal communications
                    workshop led by Tina. This session was a key
                    part of our professional development program and had a significant impact on my
                    approach to workplace communication.  Tina's guidance on tackling challenging
                    conversations, providing constructive feedback, and handling disagreements was
                    especially noteworthy. Her advice was practical and directly applicable, which
                    we could immediately put into practice through live pairing and scenario
                    role-playing. Thanks to this workshop, I now have a better framework for
                    approaching interpersonal communications.
                    </p>
                      <a href="https://www.linkedin.com/in/arjunvariar/" class="text-decoration-none ts-text-black">
                        <p class="text-right text-uppercase fw-700 ts-fs-6">
                          Arjun Variar
                          <img width="12" src="../assets/images/linkedin.png" alt="LinkedIn"/>
                          </p> 
                        <p class="text-right ts-text-gray-1">Staff Software Engineer</p>
                      </a>
                  </div>
                </div>
              </div> 
              <div class="swiper-slide">
                <div class="d-flex gap-8">
                  <div>
                    <img width="20" src="../assets/icons/quote.svg" alt="..." />
                  </div>
                  <div>
                    <p class="mb-24">
                      I attended Tina's Interpersonal Comms Workshop recently and it was really interesting!
                      The workshop has provided me with a guiding mental map that I use when I need to have
                      hard conversations at work. In the past I felt uncomfortable starting difficult
                      conversations because of the uncertainty around how the other person would react, or
                      uncertainty on the best way to present my thoughts. This workshop provided me with a
                      template for planning hard conversations. It also helped me understand the danger zones
                      that could cause negative or unintended reactions during a hard conversation. I am a Senior Software
                      Engineer (8 years experience), but I've never been taught this before. Given how
                      crucial conversations are in my field, I think all engineering organizations should
                      provide training for handling hard conversations.
                    </p>
                      <a href="https://www.linkedin.com/in/graemehbrowning/" class="text-decoration-none ts-text-black">
                        <p class="text-right text-uppercase fw-700 ts-fs-6">
                          Graeme Browning
                          <img width="12" src="../assets/images/linkedin.png" alt="LinkedIn"/>
                          </p> 
                        <p class="text-right ts-text-gray-1">Senior Software Engineer</p>
                      </a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="d-flex gap-8">
                  <div>
                    <img width="20" src="../assets/icons/quote.svg" alt="..." />
                  </div>
                  <div>
                    <p class="mb-24">
                      A particularly memorable experience was participating in an
                      interpersonal communications workshop &mdash; it provided a structured
                      framework for navigating challenging conversations in a professional
                      setting. The practice sessions in small groups were particularly
                      helpful, because they allowed us to engage in honest communication
                      outside our regular work settings, which helped create a safe and
                      trusting environment within the team. Tina's leadership in this
                      workshop reinforced her commitment to fostering effective communication
                      and building strong interpersonal relationships within our team. 
                    </p>
                    <a href="https://www.linkedin.com/in/noa-kim" class="text-decoration-none ts-text-black">
                      <p class="text-right text-uppercase fw-700 ts-fs-6">Noa Kim
                        <img width="12" src="../assets/images/linkedin.png" alt="LinkedIn"/>
                      </p> 
                      <p class="text-right ts-text-gray-1">Senior Product Designer</p>
                    </a>
                  </div>
                </div>
              </div> 


              <div class="swiper-slide">
                <div class="d-flex gap-8">
                  <div>
                    <img width="20" src="../assets/icons/quote.svg" alt="..." />
                  </div>
                  <div>
                    <p class="mb-24">
                      Tina's interpersonal communications workshop was invaluable
                      for our team. She guided us through a variety of challenging
                      topics like conflict resolution and the art of providing
                      constructive feedback. Her thoughtful approach and wealth
                      of experience helped everyone on the team grow. 
                    </p>
                    <a href="https://www.linkedin.com/in/seansleblanc/" class="text-decoration-none ts-text-black">
                    <p class="text-right text-uppercase fw-700 ts-fs-6">
                      Sean LeBlanc
                      <img width="12" src="../assets/images/linkedin.png" alt="LinkedIn"/>
                    </p>
                    <p class="text-right ts-text-gray-1">Staff Software Engineer</p>
                  </a>
                  </div>
                </div>
              </div> 
            </div>
            <div class="swiper-pagination ts-review-pagination-2 p-24"></div>
          </div>
        </div>
      </div>
    </section>

    <section class="ts-latest-blog ts-py-80">
      <div class="ts-container">
        <div class="ts-container p-0">
          <div class="ts-blog-group mb-24">
            {% set posts = collections['interpersonal comms'] | reverse | limit(3) %}
            {% for post in posts %}
              {% include "postlist.njk" %}
            {% endfor %}
          </div>
        <a class="ts-fs-5 ts-text-blue-2 text-decoration-none ts-btn-seemore fw-400" href="/blog">Read more
        </a>
        </div>
      </div>
    </section>

    <footer class="ts-footer text-center mb-64">
      <div class="ts-container">
        <div class="ts-footer__content">
            &copy; Unlikely LLC
            <script>document.write( new Date().getFullYear() );</script>
        </div>
      </div>
    </footer>

    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script src="../js/common.js"></script>
    <script src="../js/index.js"></script>
  </body>
</html>


