<!DOCTYPE html>
<html lang="en">
  <head>
  <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-F6SNPYZPH7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-F6SNPYZPH7');
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Design excellence for early-stage startups.</title>
    <meta name="description" content="Strategies for early-stage startup UX with, or without designers.">
    <meta property="og:url" content="url('/product-design')">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Design excellence for early-stage startups.">
    <meta property="og:image" content="/assets/images/design/pd_comments.png">
    <meta property="og:description" content="Strategies for early-stage startup UX with, or without designers.">

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../assets/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../assets/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../assets/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="../assets/favicon/site.webmanifest" />
    <!-- Link Swiper's CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
    />

    <link rel="stylesheet" href="../styles/common.css" />

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-F6SNPYZPH7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-F6SNPYZPH7');
    </script>
    <script src="https://kit.fontawesome.com/efed93f1aa.js" crossorigin="anonymous"></script>
  </head>


  <body>
    <nav class="ts-navbar-container">
      <div class="ts-container">
        <header class="ts-navbar">
          <a class="ts-navbar__logo" href="/">
            <img src="../assets/images/logo.png" height="40px" alt="Unlikely"/>
          </a>
          <div class="ts-burger">
            <i class="ts-open fa-solid fa-bars"></i>
            <span class="ts-close">
              <i class="fa-solid fa-xmark"></i>
            </span>
          </div>
          <nav class="ts-navbar__navbar">
            <ul class="ts-links">
              <li>
                <a class="ts-navbar__link ts-text-blue-2" href="/"> Engagements </a>
              </li>
              <li>
                <a class="ts-navbar__link" href="/about"> About </a>
              </li>
              <li>
                <a class="ts-navbar__link" href="/blog"> Blog </a>
              </li> 
              <li class="ts-btn-container d-none">
                <a
                  class="ts-btn ts-btn--sm ts-btn-primary ts-fs-6 text-decoration-none rounded-4 text-uppercase fw-500"
                  href="mailto:tina@unlikely.so">
                  Contact
                </a>
              </li>
            </ul>
          </nav>
        </header>
      </div>
    </nav>

    <section
      class="ts-hero text-center"
      style="background: url('../assets/images/design/sketches-bg.png') center top; background-size: cover;"> 
      <div class="ts-container">
        <div class="ts-hero__content">
          <h1 class="ts-fs-1 ts-text-white fw-100">
            Design excellence for early-stage startups.
          </h1>
        </div>
      </div>
    </section>

    <section class="ts-work ts-py-96">
      <div class="ts-container">
        <div>
          <div class="ts-work__content fw-300 ts-text-gray-7">
            <div>
              <div>
                <h5 class="ts-text-green ts-fs-4 fw-800 text-uppercase">Product design coaching</h5>
              </div>
              <p class="ts-fs-6 mt-32">
                As a founder, your goal is to craft exceptional user experiences. While design may
                not be your background, you recognize its critical role in team success. You're
                committed to fostering a design-centric culture that drives excellence.
                <br /><br />
                Together, we can strategize meeting your current design needs, including:
              </p>
              <ul class="ts-fs-6 mb-24">
                <li>Hiring key design roles or expanding your team</li>
                <li>Coaching existing designers for accelerated growth</li>
                <li>Taining your non-design team members in essential design skills</li>
              </ul>

              <h6 class="ts-fs-7 fw-700 mb-8 text-uppercase">
                Who this is for
              </h6>
              <ul class="ts-fs-6 mb-24">
                <li>Founders at early and growth-stage startups</li>
              </ul>
            </div>
            <div class="ts-sidebar-container">
              <div class="ts-sidebar">
                <h5 class="ts-text-green ts-fs-6 fw-800 text-uppercase">
                  New product development
                </h5>
                <p class="rounded-4 ts-fs-6 fw-300 mb-24 mt-16">
                  Run a more effective product development process to ship in weeks, not months. 
                </p>
                <a class="ts-fs-6 ts-text-blue-2 text-decoration-none ts-btn-seemore" href="/new-product-development">
                  Learn more
                  <i class="icon-shift ts-fs-7 fa-solid fa-arrow-right"></i>
                </a>
              </div>
              <div class="ts-sidebar">
                <h5 class="ts-text-green ts-fs-6 fw-800 text-uppercase">
                 Team communication
                </h5>
                <p class="rounded-4 ts-fs-6 fw-300 mb-24 mt-16">
                  Strengthen work relationships through effective communication.
                </p>
                <a class="ts-fs-6 ts-text-blue-2 text-decoration-none ts-btn-seemore" href="/team-communication">
                  Learn more
                  <i class="icon-shift ts-fs-7 fa-solid fa-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>
        </div>  
      </div>
    </section>
    <section>
      <div class="ts-sidebar text-center">
        <div class="email-cta pr-24 ts-text-gray-7 ts-fs-6 fw-300 mb-24 mt-16">
          Let’s explore how we might uplevel your team’s design capabilities
        </div>
        <a
          class="ts-btn ts-btn-primary ts-fs-6 text-decoration-none rounded-4 text-uppercase fw-500"
          href="mailto:tina@unlikely.so">
          Contact
        </a>
      </div>
    </section>

    <!-- Testimonial -->
    <section class="ts-py-80 ts-bg-green ts-text-gray-7 review-section">
      <div class="ts-container">
        <div class="ts-review__content rounded-4">
          <img class="bg-quote" src="../assets/images/bg-quote.svg" alt="..." />
          <!-- Swiper -->
          <div class="swiper reviewSwiper ts-font-nunito-sans">
            <div class="swiper-wrapper ts-fs-4-ii mb-40 fw-300">
              <div class="swiper-slide">
                <p class="mb-40">
                     Tina’s history as an engineer and a designer at start-ups have shaped her into
                     a powerhouse with lots of insights to share. In addition to her research and
                     design skillset, she has an uncanny ability to quickly assess team dynamics and
                     identify and leverage the strengths of each team member. This ensures that
                     ideas flow seamlessly within teams and contributes to the overall success of
                     the project.
                </p>
                <a href="https://www.linkedin.com/in/lisa-peterson" class="text-decoration-none ts-text-white">
                  <p class="text-right text-uppercase fw-700 ts-fs-5">
                    Lisa Peterson
                    <img width="16" src="../assets/images/linkedin-white.png" alt="LinkedIn"/>
                  </p>
                  <p class="text-right ts-text-gray-10">Design Director</p>
                </a>
              </div>
            <div class="swiper-pagination ts-review-pagination"></div>
          </div>
        </div>
      </div>
    </section>

    <section class="ts-faqs ts-py-80">
      <div class="ts-container">
        <header class="text-center mb-40">
          <h2 class="ts-fs-2 fw-800 mb-24 text-center mb-8">
            FAQ's
          </h2>
        </header>
        <div class="ts-faq__content ts-fs-6">
          <ol class="ts-faq-item">
            <li>
              <span class="fw-700">
                What type of designer do I need?
              </span>
              <p>
                Typically, it’s difficult to find a designer who is good at the entire spectrum of
                design, ranging from user research, interaction design, visual design, branding,
                etc. So it depends on the challenges that you’re currently trying to solve. For
                example, if your team has strong user research capabilities, you could choose a
                designer who is stronger with interaction design or visual design.
              </p>
            </li>
            <li>
              <span class="fw-700">
                How do I evaluate design candidates?
              </span>
              <p>
                It takes an experienced designer to evaluate other designers. It’s also important
                that you person evaluating the designer can tell the difference between someone who
                is used to design in big companies versus startups. Experience in either comes with
                advantages and challenges. It doesn’t mean that you should only hire candidates with
                startup experience. With either, there might be some mental shifts that need to
                happen for the designer to be able to do their best work.
              </p>
            </li>
            <li>
              <span class="fw-700">
                How do I get my team, that has never worked with a great designer, to appreciate Design?
              </span>
              <p>
                It’s wonderful that you understand the importance of Design. If your company is
                still in its early stages and doesn’t yet have a designer, finding the right first
                hire is crucial. Or finding an experienced design leader who you can partner with in
                your effort. Appreciation comes from working with a competent designer who will need
                your help to champion their efforts. 
              </p>
            </li>
            <li>
              <span class="fw-700">
                How can designers at startups benefit from coaching?
              </span>
              <p>
                Startups, especially early-stage ones, have unique qualities that might be foreign
                to designers who have never worked in such an environment before. If the company
                does not have strong design leadership, the designer’s growth could stagnate. In
                order to do their best work and meet the needs of a growing startup, having a mentor
                who understand the ins and outs of startup environment and needs will help
                tremendously.
              </p>
            </li>
            <p>
              More questions? 
              <a
                class="ts-text-blue-2 text-decoration-none" href="mailto:tina@unlikely.so">
                Let's chat.
              </a>
            </p>
          </ol>
        </div>
      </div>
    </section>
  
    <!-- Reviews 2  -->
    <section class="ts-py-96 ts-bg-blue ts-text-gray-7">
      <div class="ts-container">
        <div class="rounded-4">
          <!-- Swiper -->
          <div class="swiper reviewSwiper2 ts-font-nunito-sans">
            <div class="swiper-wrapper ts-fs-6 fw-300">
              
              <div class="swiper-slide">
                <div class="d-flex gap-8">
                  <div>
                    <img width="20" src="../assets/icons/quote.svg" alt="..." />
                  </div>
                  <div>
                    <p class="mb-24">
                        I had the pleasure of collaborating with Tina during
                        a critical phase in our team's design evolution. Tina
                        played a pivotal role in enhancing our design maturity,
                        bringing a clear vision of what makes a successful design
                        team. What stood out to me was Tina's emphasis on
                        individual growth. She was keen on understanding each
                        team member's unique qualities, ensuring that the team
                        had a personalized career path aligned with their
                        aspirations and company’s product goals. Her design
                        leadership had a lasting impact on our team, shaping us
                        for continued success.
                    </p>
                    <a href="https://www.linkedin.com/in/kyle-kim-272a26" class="text-decoration-none ts-text-white">
                      <p class="text-right text-uppercase fw-700 ts-fs-7">
                        Kyle Kim
                        <img width="12" src="../assets/images/linkedin-white.png" alt="LinkedIn"/>
                      </p>
                      <p class="text-right ts-text-gray-10">Design Manager</p>
                    </a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="d-flex gap-8">
                  <div>
                    <img width="20" src="../assets/icons/quote.svg" alt="..." />
                  </div>
                  <div>
                    <p class="mb-24">
                      Working with Tina was a transformative experience, particularly in
                      terms of personal and professional growth. Through her mentorship
                      and guidance, I gained a deeper understanding of startups and
                      honed my abilities to deliver impactful insights.
                    </p>
                    <a href="https://www.linkedin.com/in/nourdabbour/" class="text-decoration-none ts-text-white">
                      <p class="text-right text-uppercase fw-700 ts-fs-7">
                        Nora Dabbour
                        <img width="12" src="../assets/images/linkedin-white.png" alt="LinkedIn"/>
                      </p> 
                      <p class="text-right ts-text-gray-10">Senior User Experience Researcher</p>
                    </a>
                  </div>
                </div>
              </div> 


              <div class="swiper-slide">
                <div class="d-flex gap-8">
                  <div>
                    <img width="20" src="../assets/icons/quote.svg" alt="..." />
                  </div>
                  <div>
                    <p class="mb-24">
                      Tina played a pivotal role in my professional and personal
                      development.  She genuinely cared for each team member’s
                      growth, and she ensured that the projects I was involved
                      in aligned with my aspirations as a Product Designer.
                    </p>
                    <a href="https://www.linkedin.com/in/noa-kim" class="text-decoration-none ts-text-white">
                      <p class="text-right text-uppercase fw-700 ts-fs-7">Noa Kim
                        <img width="12" src="../assets/images/linkedin-white.png" alt="LinkedIn"/>
                      </p> 
                      <p class="text-right ts-text-gray-10">Senior Product Designer</p>
                    </a>
                  </div>
                </div>
              </div> 
              <div class="swiper-slide">
                <div class="d-flex gap-8">
                  <div>
                    <img width="20" src="../assets/icons/quote.svg" alt="..." />
                  </div>
                  <div>
                    <p class="mb-24">
                      Tina unlocked something in me. In a few short months, I’ve
                      grown more as a designer than I ever had in my career! Tina’s
                      mentoring approach is to steer you in directions that may not be
                      comfortable, but ultimately manifest in that "aha moment" with a
                      stronger solution.  
                    </p>
                    <a href="https://www.linkedin.com/in/daihan" class="text-decoration-none ts-text-white">
                      <p class="text-right text-uppercase fw-700 ts-fs-7">
                        Daihan Zhu
                        <img width="12" src="../assets/images/linkedin-white.png" alt="LinkedIn"/>
                      </p> 
                      <p class="text-right ts-text-gray-10">Product Designer</p>
                    </a>
                  </div>
                </div>
              </div>  

              <div class="swiper-slide">
                <div class="d-flex gap-8">
                  <div>
                    <img width="20" src="../assets/icons/quote.svg" alt="..." />
                  </div>
                  <div>
                    <p class="mb-24">
                      I had the pleasure of working with Tina and was consistently
                      impressed by her project management, design leadership,
                      and user-centric mindset. As a product design leader with a
                      deep knowledge of best practices, Tina's expertise and
                      dedication were invaluable to the team.
                    </p>
                      <a href="https://www.linkedin.com/in/justincheong/" class="text-decoration-none ts-text-white">
                        <p class="text-right text-uppercase fw-700 ts-fs-7">
                          Justin Cheong
                          <img width="12" src="../assets/images/linkedin-white.png" alt="LinkedIn"/>
                          </p> 
                        <p class="text-right ts-text-gray-10">Senior UI/UX Designer</p>
                      </a>
                  </div>
                </div>
              </div> 
            </div>
            </div>
            <div class="swiper-pagination ts-review-pagination-2 p-24"></div>
          </div>
        </div>
      </div>
    </section>
     
    <section class="ts-latest-blog ts-py-80">
      <div class="ts-container">
        <h3 class="ts-fs-3 fw-800 mb-24">Related posts</h3>
        <div class="ts-container p-0">
          <div class="ts-blog-group mb-24">
            {% set posts = collections['product design'] | reverse | limit(3) %}
            {% for post in posts %}
              {% include "postlist.njk" %}
            {% endfor %}
          </div>
        <a class="ts-fs-6 ts-text-blue-2 text-decoration-none ts-btn-seemore fw-700" href="/blog">See all
          <i class="icon-shift ts-fs-7 fa-solid fa-arrow-right"></i>
        </a>
        </div>
      </div>
    </section>

    <footer class="ts-footer text-center mb-64">
      <div class="ts-container">
        <div class="ts-footer__content">
            &copy; Unlikely LLC
            <script>document.write( new Date().getFullYear() );</script>
        </div>
      </div>
    </footer>

    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script src="../js/common.js"></script>
    <script src="../js/index.js"></script>
  </body>
</html>


