<!DOCTYPE html>
<html lang="en">
  <head>
  <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-F6SNPYZPH7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-F6SNPYZPH7');
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Build what people love.</title>
    <meta name="description" content="Strategies for early-stage startup UX with, or without designers.">
    <meta property="og:url" content="url('/design-leadership')">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Build what people love.">
    <meta property="og:image" content="/assets/images/design/pd_comments.png">
    <meta property="og:description" content="Strategies for early-stage startup UX with, or without designers.">

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../assets/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../assets/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../assets/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="../assets/favicon/site.webmanifest" />
    <!-- Link Swiper's CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
    />

    <link rel="stylesheet" href="../styles/common.css" />

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-F6SNPYZPH7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-F6SNPYZPH7');
    </script>
    <script src="https://kit.fontawesome.com/efed93f1aa.js" crossorigin="anonymous"></script>
  </head>


  <body>
    <nav class="ts-navbar-container">
      <div class="ts-container">
        <header class="ts-navbar">
          <a class="ts-navbar__logo" href="/">
            <img src="../assets/images/logo.png" height="40px" alt="Unlikely"/>
          </a>
          <div class="ts-burger">
            <i class="ts-open fa-solid fa-bars"></i>
            <span class="ts-close">
              <i class="fa-solid fa-xmark"></i>
            </span>
          </div>
          <nav class="ts-navbar__navbar">
            <ul class="ts-links">
              <li>
                <a class="ts-navbar__link ts-selected" href="/"> Work </a>
              </li>
              <li>
                <a class="ts-navbar__link" href="/about"> About </a>
              </li>
              <li>
                <a class="ts-navbar__link" href="/blog"> Blog </a>
              </li> 
              <li class="ts-btn-container d-none">
                <a
                  class="ts-btn ts-btn--sm ts-btn-primary ts-fs-6 text-decoration-none rounded-4 text-uppercase fw-500"
                  href="mailto:tina@unlikely.so">
                  Contact
                </a>
              </li>
            </ul>
          </nav>
        </header>
      </div>
    </nav>

   <section
      class="ts-hero text-center"
      style="background: url('../assets/images/design/sketches-bg.png') center top; background-size: cover;"> 
      <div class="ts-container">
        <div class="ts-hero__content">
          <h1>
            <span class="ts-text-white ts-fs-1-ii tagline fw-700">Build what people love.</span>
            <span class="subtagline ts-fs-4 ts-text-gray-5 fw-200 ts-font-inter">Create a strong design practice.</span>
          </h1>
        </div>
      </div>
    </section>

    <section class="ts-work ts-py-96">
      <div class="ts-container">
        <div>
          <div class="ts-work__content fw-300 ts-text-gray-7">
            <div>
              <div>
                <h5 class="ts-text-green ts-fs-4 fw-800 text-uppercase">Design leadership</h5>
              </div>
              <p class="ts-fs-6 mt-32">
                <em>
                As a founder, you want to create great products but your team lacks design
                expertise. You may not yet need a permanent head of design, but engaging an
                experienced design leader in the interim can help in figuring out where the gaps are
                and how to fill them.
                </em>
                <br/><br/>
                Together, we can:    
              </p>
              <ul class="ts-fs-6 mb-24">
                <li>
                  Evaluate current design needs and how to hire and assess designer(s)
                </li>
                <li>
                  Coach existing designers, if any, as needed to expand and accelerate their craft
                </li>
                <li>
                  Train non-design team members in essential design skills such as user research,
                  usability testing, etc.
                </li>
                <li>
                  Establish a design process that strengthens the collaboration among engineering, product and design
                </li>
                <li>
                  Hire a permanent head of design, if needed
                </li>
              </ul>

              <h6 class="ts-fs-7 fw-700 mb-8 text-uppercase">
                Who this is for
              </h6>
              <ul class="ts-fs-6 mb-24">
                <li>Early and growth-stage startups</li>
              </ul>
            </div>
            <div class="ts-sidebar-container">
              <div class="ts-sidebar">
                <h5 class="ts-text-green ts-fs-6 fw-800 text-uppercase">
                  Product facilitation
                </h5>
                <p class="rounded-4 ts-fs-6 fw-300 mb-24 mt-16">
                  Run product development to ship in weeks, not months. 
                </p>
                <a class="ts-fs-6 ts-text-blue-2 text-decoration-none ts-btn-seemore" href="/product-facilitation">
                  Learn more
                  <i class="icon-shift ts-fs-7 fa-solid fa-arrow-right"></i>
                </a>
              </div>
              <div class="ts-sidebar">
                <h5 class="ts-text-green ts-fs-6 fw-800 text-uppercase">
                 Communication coaching
                </h5>
                <p class="rounded-4 ts-fs-6 fw-300 mb-24 mt-16">
                  Strengthen relationships through effective communication.
                </p>
                <a class="ts-fs-6 ts-text-blue-2 text-decoration-none ts-btn-seemore" href="/communication-coaching">
                  Learn more
                  <i class="icon-shift ts-fs-7 fa-solid fa-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>
        </div>  
      </div>
    </section>
    <section>
      <div class="ts-sidebar text-center">
        <p class="email-cta pr-24 ts-text-gray-7 ts-fs-6 fw-300 mb-24 mt-16">
          Let's chat and find out if your team might benefit from design leadership
        </p>
        <a
          class="ts-btn ts-btn-primary ts-fs-6 text-decoration-none rounded-4 text-uppercase fw-500"
          href="mailto:tina@unlikely.so">
          Contact
        </a>
      </div>
    </section>

    <!-- Testimonial -->
    <section class="ts-py-80 ts-bg-green ts-text-gray-7 review-section">
      <div class="ts-container">
        <div class="ts-review__content rounded-4">
          <img class="bg-quote" src="../assets/images/bg-quote.svg" alt="..." />
          <!-- Swiper -->
          <div class="swiper reviewSwiper ts-font-nunito-sans">
            <div class="swiper-wrapper ts-fs-4-ii mb-40 fw-300">
              <div class="swiper-slide">
                <p class="mb-40">
                     Tina’s history as an engineer and a designer at start-ups have shaped her into
                     a powerhouse with lots of insights to share. In addition to her research and
                     design skillset, she has an uncanny ability to quickly assess team dynamics and
                     identify and leverage the strengths of each team member. This ensures that
                     ideas flow seamlessly within teams and contributes to the overall success of
                     the project.
                </p>
                <a href="https://www.linkedin.com/in/lisa-peterson" class="text-decoration-none ts-text-white">
                  <p class="text-right text-uppercase fw-700 ts-fs-5">
                    Lisa Peterson
                    <img width="16" src="../assets/images/linkedin-white.png" alt="LinkedIn"/>
                  </p>
                  <p class="text-right ts-text-gray-10">Design Director</p>
                </a>
              </div>
            <div class="swiper-pagination ts-review-pagination"></div>
          </div>
        </div>
      </div>
    </section>

    <section class="ts-faqs ts-py-80">
      <div class="ts-container">
        <header class="text-center mb-40">
          <h2 class="ts-fs-2 fw-800 mb-24 text-center mb-8">
            FAQ's
          </h2>
        </header>
        <div class="ts-faq__content ts-fs-6">
          <ol class="ts-faq-item">
           <li>
              <span class="fw-700">
                Why do we need a head of design?
              </span>
              <p>
                The challenging part is not knowing what you don't know, especially in areas that is
                your expertise. Getting help from an experienced design leader can help you identify
                what is essential right now and what can wait, helping you to prioritize and ship
                faster. It's also important for this person to have startup experience. Most do not
                understand what a startup environment requires until they've worked in one.
              </p>
            </li>
            <li>
              <span class="fw-700">
                Do we need help if we already have a designer?
              </span>
              <p>
                If the team has a design leader, then probably not. However, if the
                designer is not senior, they will likely have gaps in their knowledge and might
                benefit from experienced guidance to
                <a href="https://fora.com/blog/solo-or-team-designer/">grow in their craft,</a> 
                adding even more value to the team.
              </p>
            </li>
            <li>
              <span class="fw-700">
                We don't have a designer, who should we look for?
              </span>
              <p>
                Startup teams would benefit from senior designers who are experienced in interaction
                design and are comfortable performing user research. While it might be tempting to
                hire a designer to make the UI look great, it's more important to hire a designer
                who can help the team figure out if the right product is being built. Be wary of the
                potential
                <a href="/top-10-mistakes-startups-make-in-user-research-without-a-designer/"> pitfalls</a> that can happen.
              </p>
            </li>
            <li>
              <span class="fw-700">
                How do we evaluate design candidates?
              </span>
              <p>
                It takes an experienced designer to evaluate other designers. It’s also important
                that the person evaluating the designer can distinguish between someone accustomed
                to designing in big companies versus startups. Experience in either comes with
                advantages and challenges. It doesn’t mean that you should only hire candidates with
                startup experience. With either, there might be some mental shifts that need to
                occur for the designer to do their best work.
              </p>
            </li>
            <li>
              <span class="fw-700">
                We've got great engineers and PMs who talk to users and our designer make the UI
                look great so we're good?
              </span>
              <p>
                This is common at startups, where a designer is a one-person design org trying to
                meet all design needs (and more) of the company. This can quickly lead to burnout.
                It also sets the precedent for designers to be cogs in the assembly line, where they
                create mocks from sketches by PMs to make work for Engineering. As the company
                scales, designers might just be seen as pixel pushers, leading to Design being
                undervalued and underappreciated in the team culture, creating 
                <a href="/10-ways-to-piss-off-your-designer-without-even-trying/">interpersonal
                challenges</a> that hinder shipping quickly.
              </p>
            </li>
            <li>
              <span class="fw-700">
                Couldn't we just ask our network for advice?
              </span>
              <p>
                You can and you should. However, creating a solid foundation for a strong design
                practice to ensure that the team is building a product that users would love requires
                a significant amount of attention and effort than might be available on an ad hoc
                basis.
              </p>
            </li>
          </ol>
          <p class="mt-48">
          More questions? 
          <a
            class="ts-text-blue-2 text-decoration-none" href="mailto:tina@unlikely.so">
            Let's chat.
          </a>
          </p>
        </div>
      </div>
    </section>
  
    <!-- Reviews 2  -->
    <section class="ts-py-96 ts-bg-blue ts-text-gray-7">
      <div class="ts-container">
        <div class="rounded-4">
          <!-- Swiper -->
          <div class="swiper reviewSwiper2 ts-font-nunito-sans">
            <div class="swiper-wrapper ts-fs-6 fw-300">
              
              <div class="swiper-slide">
                <div class="d-flex gap-8">
                  <div>
                    <img width="20" src="../assets/icons/quote.svg" alt="..." />
                  </div>
                  <div>
                    <p class="mb-24">
                        I had the pleasure of collaborating with Tina during
                        a critical phase in our team's design evolution. Tina
                        played a pivotal role in enhancing our design maturity,
                        bringing a clear vision of what makes a successful design
                        team. What stood out to me was Tina's emphasis on
                        individual growth. She was keen on understanding each
                        team member's unique qualities, ensuring that the team
                        had a personalized career path aligned with their
                        aspirations and company’s product goals. Her design
                        leadership had a lasting impact on our team, shaping us
                        for continued success.
                    </p>
                    <a href="https://www.linkedin.com/in/kyle-kim-272a26" class="text-decoration-none ts-text-white">
                      <p class="text-right text-uppercase fw-700 ts-fs-7">
                        Kyle Kim
                        <img width="12" src="../assets/images/linkedin-white.png" alt="LinkedIn"/>
                      </p>
                      <p class="text-right ts-text-gray-10">Design Manager</p>
                    </a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="d-flex gap-8">
                  <div>
                    <img width="20" src="../assets/icons/quote.svg" alt="..." />
                  </div>
                  <div>
                    <p class="mb-24">
                      Working with Tina was a transformative experience, particularly in
                      terms of personal and professional growth. Through her mentorship
                      and guidance, I gained a deeper understanding of startups and
                      honed my abilities to deliver impactful insights.
                    </p>
                    <a href="https://www.linkedin.com/in/nourdabbour/" class="text-decoration-none ts-text-white">
                      <p class="text-right text-uppercase fw-700 ts-fs-7">
                        Nora Dabbour
                        <img width="12" src="../assets/images/linkedin-white.png" alt="LinkedIn"/>
                      </p> 
                      <p class="text-right ts-text-gray-10">Senior User Experience Researcher</p>
                    </a>
                  </div>
                </div>
              </div> 


              <div class="swiper-slide">
                <div class="d-flex gap-8">
                  <div>
                    <img width="20" src="../assets/icons/quote.svg" alt="..." />
                  </div>
                  <div>
                    <p class="mb-24">
                      Tina played a pivotal role in my professional and personal
                      development.  She genuinely cared for each team member’s
                      growth, and she ensured that the projects I was involved
                      in aligned with my aspirations as a Product Designer.
                    </p>
                    <a href="https://www.linkedin.com/in/noa-kim" class="text-decoration-none ts-text-white">
                      <p class="text-right text-uppercase fw-700 ts-fs-7">Noa Kim
                        <img width="12" src="../assets/images/linkedin-white.png" alt="LinkedIn"/>
                      </p> 
                      <p class="text-right ts-text-gray-10">Senior Product Designer</p>
                    </a>
                  </div>
                </div>
              </div> 
              <div class="swiper-slide">
                <div class="d-flex gap-8">
                  <div>
                    <img width="20" src="../assets/icons/quote.svg" alt="..." />
                  </div>
                  <div>
                    <p class="mb-24">
                      Tina unlocked something in me. In a few short months, I’ve
                      grown more as a designer than I ever had in my career! Tina’s
                      mentoring approach is to steer you in directions that may not be
                      comfortable, but ultimately manifest in that "aha moment" with a
                      stronger solution.  
                    </p>
                    <a href="https://www.linkedin.com/in/daihan" class="text-decoration-none ts-text-white">
                      <p class="text-right text-uppercase fw-700 ts-fs-7">
                        Daihan Zhu
                        <img width="12" src="../assets/images/linkedin-white.png" alt="LinkedIn"/>
                      </p> 
                      <p class="text-right ts-text-gray-10">Product Designer</p>
                    </a>
                  </div>
                </div>
              </div>  

              <div class="swiper-slide">
                <div class="d-flex gap-8">
                  <div>
                    <img width="20" src="../assets/icons/quote.svg" alt="..." />
                  </div>
                  <div>
                    <p class="mb-24">
                      I had the pleasure of working with Tina and was consistently
                      impressed by her project management, design leadership,
                      and user-centric mindset. As a product design leader with a
                      deep knowledge of best practices, Tina's expertise and
                      dedication were invaluable to the team.
                    </p>
                      <a href="https://www.linkedin.com/in/justincheong/" class="text-decoration-none ts-text-white">
                        <p class="text-right text-uppercase fw-700 ts-fs-7">
                          Justin Cheong
                          <img width="12" src="../assets/images/linkedin-white.png" alt="LinkedIn"/>
                          </p> 
                        <p class="text-right ts-text-gray-10">Senior UI/UX Designer</p>
                      </a>
                  </div>
                </div>
              </div> 
            </div>
            </div>
            <div class="swiper-pagination ts-review-pagination-2 p-24"></div>
          </div>
        </div>
      </div>
    </section>
     
    <section class="ts-latest-blog ts-py-80">
      <div class="ts-container">
        <h3 class="ts-fs-3 fw-800 mb-24">Related posts</h3>
        <div class="ts-container p-0">
          <div class="ts-blog-group mb-24">
            {% set posts = collections['product design'] | reverse | limit(3) %}
            {% for post in posts %}
              {% include "postlist.njk" %}
            {% endfor %}
          </div>
        <a class="ts-fs-6 ts-text-blue-2 text-decoration-none ts-btn-seemore fw-700" href="/blog">See all
          <i class="icon-shift ts-fs-7 fa-solid fa-arrow-right"></i>
        </a>
        </div>
      </div>
    </section>

    <footer class="ts-footer text-center mb-64">
      <div class="ts-container">
        <div class="ts-footer__content">
            &copy; Unlikely LLC
            <script>document.write( new Date().getFullYear() );</script>
        </div>
      </div>
    </footer>

    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script src="../js/common.js"></script>
    <script src="../js/index.js"></script>
  </body>
</html>


