{% for post in collections.posts | reverse %}
  <a class="ts-blog-card" href="{{ post.url }}">
    <h4 class="ts-blog-card__title ts-fs-4 ts-text-gray-2 mb-8">
      {{ post.data.title }}
    </h4>
    <div class="ts-blog-card__desc ts-text-gray-4 fw-500 mb-8">
      {{ post.data.content | safe }}
    </div>
    <div class="ts-fs-8 ts-text-gray-4 fw-500">
      {{ post.data.date | postDate }} · {{ post.data.length }}
    </div>
  </a>
{% endfor %}

