<!DOCTYPE html>
<html lang="en">
  <head>
  <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-F6SNPYZPH7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-F6SNPYZPH7');
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Find product-market fit. Fast.</title>
    <meta name="description" content="Using a lightweight, user-centered, experiment-driven product
    development process that prioritizes short, iterative cycles enables us to learn more quickly
    and shorten the time that it takes to reach product-market fit.">
    <meta property="og:url" content="url('/new-product-development')">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Find product-market fit. Fast.">
    <meta property="og:image" content="/assets/images/product/npd_comments.png">
    <meta property="og:description" content="Using a lightweight, user-centered, experiment-driven
    product development process that prioritizes short, iterative cycles enables us to learn more
    quickly and shorten the time that it takes to reach product-market fit.">

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../assets/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../assets/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../assets/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="../assets/favicon/site.webmanifest" />
    <!-- Link Swiper's CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
    />

    <link rel="stylesheet" href="../styles/common.css" />

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-F6SNPYZPH7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-F6SNPYZPH7');
    </script>
    <script src="https://kit.fontawesome.com/efed93f1aa.js" crossorigin="anonymous"></script>
  </head>


  <body>
    <nav class="ts-navbar-container">
      <div class="ts-container">
        <header class="ts-navbar">
          <a class="ts-navbar__logo" href="/">
            <img src="../assets/images/logo.png" height="40px" alt="Unlikely"/>
          </a>

          <div class="ts-burger">
            <i class="ts-open fa-solid fa-bars"></i>
            <span class="ts-close">
              <i class="fa-solid fa-xmark"></i>
            </span>
          </div>

          <nav class="ts-navbar__navbar">
            <ul class="ts-links">
              <li>
                <a class="ts-navbar__link ts-text-blue-2" href="/"> Work </a>
              </li>
              <li>
                <a class="ts-navbar__link" href="/about"> About </a>
              </li>
              <li>
                <a class="ts-navbar__link" href="/blog"> Blog </a>
              </li> 
              <li class="ts-btn-container d-none">
                <a
                  class="ts-btn ts-btn--sm ts-btn-primary ts-fs-6 text-decoration-none rounded-4 text-uppercase fw-500"
                  href="mailto:tina@unlikely.so">
                  Contact
                </a>
              </li>
            </ul>
          </nav>
        </header>
      </div>
    </nav>

    <section
      class="ts-hero text-center"
      style="background: url('../assets/images/product/ship-bg.png') center top; background-size: cover;"> 
      <div class="ts-container">
        <div class="ts-hero__content">
          <h1>
            <span class="ts-text-white ts-fs-1-ii tagline fw-700">Find product market fit. <span class="fw-300"><i>Fast.</i></span>
            <span class="subtagline ts-fs-4 ts-text-gray-5 fw-200 ts-font-inter">Ship in weeks, not months.</span>
          </h1>
        </div>
      </div>
    </section>

    <section class="ts-work ts-py-96">
      <div class="ts-container">
        <div>
          <div class="ts-work__content fw-300 ts-text-gray-7">
            <div>
              <h5 class="ts-text-green ts-fs-4 fw-800 text-uppercase">Product facilitation</h5>
              <p class="ts-fs-6 mt-32">
                <em>
                Your team is talented, but is struggling to ship quickly, mired by long debates and
                uncertain where to invest resources.
                </em>
                <br/><br/>
                Instead of the <a class="ts-text-gray-7" href="/the-failed-million-dollar-mvp">traditional product
                development model</a>,
                we'll use a lightweight, user-centered, experiment-driven 
                process that emphasizes short, iterative cycles. This methodology
                enables rapid learning and significantly shortens the time needed to achieve
                product-market fit (PMF). Your team will discover dead-ends faster, allowing for
                quicker pivots and increasing your chances of success.
                <br/><br/>
                Partner with me as an embedded coach to:
              </p>
              <ul class="ts-fs-6 mb-24">
                <li>Develop a customized strategy tailored to your team's needs and goals</li>
                <li>Ideate and test minimal prototypes to validate or disprove hypotheses quickly</li>
                <li>Iterate rapidly to achieve PMF, saving time and resources</li>
                <li>Build internal confidence in new product development for future projects</li>
                <li>Build the muscle memory for your team to operate with speed, flexibility, and clarity
              </ul>

              <h6 class="ts-fs-7 fw-700 mb-8 text-uppercase">
                Who this is for
              </h6>
              <ul class="ts-fs-6 mb-24">
                <li>You are a leader in an innovative larger company tasked with developing new products</li>
                <li>As a founder in a growth-stage startups you want to delegate day-to-day product
                decisions to your team, but need to gain more confidence in their abilities</li>
              </ul>
            </div>
            <div class="ts-sidebar-container">
              <div class="ts-sidebar rounded-4">
                <h5 class="ts-text-green ts-fs-6 fw-800 text-uppercase">
                  Communication coaching
                </h5>
                <p class="rounded-4 ts-fs-6 fw-300 mb-24 mt-16">
                  Strengthen work relationships through effective communication.
                </p>
                <a class="ts-fs-6 ts-text-blue-2 text-decoration-none ts-btn-seemore" href="/team-communication">
                  Learn more
                  <i class="icon-shift ts-fs-7 fa-solid fa-arrow-right"></i>
                </a>
              </div>
              <div class="ts-sidebar rounded-4">
                <h5 class="ts-text-green ts-fs-6 fw-800 text-uppercase">
                  Design leadership
                </h5>
                <p class="rounded-4 ts-fs-6 fw-300 mb-24 mt-16">
                  Build a design function to create great user experiences.
                </p>
                <a class="ts-fs-6 ts-text-blue-2 text-decoration-none ts-btn-seemore" href="/product-design">
                  Learn more
                  <i class="icon-shift ts-fs-7 fa-solid fa-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>
        </div>  
      </div>
    </section>
    <section>
      <div class="ts-sidebar text-center">
        <div class="email-cta pr-24 ts-text-gray-7 ts-fs-6 fw-300 mb-24 mt-16">
          Let's help your team ship quickly
        </div>
        <a
          class="ts-btn ts-btn-primary ts-fs-6 text-decoration-none rounded-4 text-uppercase fw-500"
          href="mailto:tina@unlikely.so">
          Contact
        </a>
      </div>
    </section>

    <!-- Testimonial -->
    <section class="ts-py-80 ts-bg-green ts-text-gray-7 review-section">
      <div class="ts-container">
        <div class="ts-review__content rounded-4">
          <img class="bg-quote" src="../assets/images/bg-quote.svg" alt="..." />
          <!-- Swiper -->
          <div class="swiper reviewSwiper ts-font-nunito-sans">
            <div class="swiper-wrapper ts-fs-4-ii mb-40 fw-300">
              <div class="swiper-slide">
                <p class="mb-40">
                    Tina transformed how our team developed new product directions.
                    Previously we had no shortage of ideas, but any given one required
                    a heavy engineering investment, and we didn't have enough conviction
                    in any single one of them to feel confident investing resources. Tina
                    showed us how to move quickly and iteratively from the highly uncertain
                    brainstorm phase to getting working demos in front of users with as
                    little over-engineering as possible. This gave our team the quantitative
                    and qualitative user feedback we needed to have confidence in where to
                    invest our time and resources.
                </p>
                <a href="https://www.linkedin.com/in/romano" class="text-decoration-none ts-text-white">
                  <p class="text-right text-uppercase fw-700 ts-fs-5">
                    Raquel Romano
                    <img width="16" src="../assets/images/linkedin-white.png" alt="LinkedIn"/>
                  </p>
                  <p class="text-right ts-text-gray-10">Senior Director of Engineering</p>
                </a>
              </div>
            <div class="swiper-pagination ts-review-pagination"></div>
          </div>
        </div>
      </div>
    </section>

    <section class="ts-faqs ts-py-80">
      <div class="ts-container">
        <header class="text-center mb-40">
          <h2 class="ts-fs-2 fw-800 mb-24 text-center mb-8">
            FAQ's
          </h2>
        </header>
        <div class="ts-faq__content ts-fs-6">
          <ol class="ts-faq-item">
            <li>
              <span class="fw-700">
                Why work with an embedded coach?
              </span>
              <p>
                New product development demands mental, emotional, and physical resilience,
                especially for those new to the process. An experienced coach can guide your team,
                helping them manage uncertainty and stay on track.
              </p>
            </li>
            <li>
              <span class="fw-700">
                What is the benefit of training an in-house team in new product development?
              </span>
              <p>
                Hiring an external consulting firm may lead to unused strategies if your team isn't
                ready to execute them. Investing in your team hones their skills and creates lasting
                institutional knowledge applicable to future endeavors.
              </p>
            </li>
            <li>
              <span class="fw-700">
                What's the expected ROI?
              </span>
              <p>
                The <a href="/the-failed-million-dollar-mvp">traditional product
                development model</a> can take months to years and cost millions. By forming strong
                hypotheses and creating lightweight prototypes to gather frequent user feedback,
                the team can de-risk and reach a decision to pursue or pivot much earlier and with
                greater confidence. 
              </p>
            <li>
              <span class="fw-700">
                Would having a process for new product development just slow things down?
              </span>
              <p>
                It depends on the process. Ours offers significant benefits and is fast-paced.
              </p>
            </li>
            <li>
              <span class="fw-700">
                What type of team would benefit from this collaboration?
              </span>
              <p>
                Teams open to learning, growth, and feedback, adaptable, driven, goal-oriented, and
                enjoy working together for positive impact.
              </p>
            </li>
            <li>
              <span class="fw-700">
                What type of business is suitable?
              </span>
              <p>
                While timelines vary by industry, the process of reducing risk and finding
                user-centered solutions remains relevant.
              </p>
            </li>
            <li>
              <span class="fw-700">
                Do we have the right team?
              </span>
              <p>
                In the early stages, a functional prototype might not be needed to get feedback from
                users so engineering skills may not be required. If it is needed, the team needs to
                be able to build a working front-end, and back-end, and have some ability to create
                designs and assess the market (or is willing to learn). This could mean a
                small team of 3-4 consisting of any combination of engineers, PMs, and designers.
              </p>
            </li>
            <li>
              <span class="fw-700">
                How long will this take?
              </span>
              <p>
                In 12 weeks, a team can expect to have conviction in the current direction or decide
                to pivot. Additional user research may extend the timeline. While reaching PMF may
                take longer, the team will have experienced the process firsthand and can continue
                iterating or restart with continued coaching if desired.
              </p>
            </li>
            <li>
              <span class="fw-700">
                Will our team get enough of your attention if you have other commitments?
              </span>
              <p>
                Before collaborating, we'd chat at length about what is needed. I only
                commit when I know that I have the bandwidth and can do my best work to help the
                team.
              </p>
            </li>
            <li>
              <span class="fw-700">
                What ongoing support do you provide to teams after the initial coaching engagement?
              </span>
              <p>
                The engagement can be extended and take different forms depending on the needs of
                the team.
              </p>
            </li>
            <li>
              <span class="fw-700">
                Will the coaching be remote or in person?
              </span>
              <p>
                This will likely be hybrid or remote with onsite visits during crucial times.
              </p>
            </li> 
            <p>
              More questions? 
              <a
                class="ts-text-blue-2 text-decoration-none" href="mailto:tina@unlikely.so">
                Let's chat.
              </a>
            </p>
          </ol>
        </div>
      </div>
    </section>
  
    <!-- Reviews 2  -->
    <section class="ts-py-96 ts-bg-blue ts-text-gray-7">
      <div class="ts-container">
        <div class="rounded-4">
          <!-- Swiper -->
          <div class="swiper reviewSwiper2 ts-font-nunito-sans">
            <div class="swiper-wrapper ts-fs-6 fw-300">
              <div class="swiper-slide">
                <div class="d-flex gap-8">
                  <div>
                    <img width="20" src="../assets/icons/quote.svg" alt="..." />
                  </div>
                  <div>
                    <p class="mb-24">
                      Tina helped turn what could have been a very stressful
                      do-or-die situation at a startup into a period that I look
                      back on as simultaneously one of the most effective and the most
                      fun. She was key to helping our team gel and go from idea to
                      multiple UI prototypes, and then public launch within 2
                      months. Two things stand out that were most helpful to our
                      team: (1) Her incredibly quick but deep user research and
                      synthesis: I have never seen anyone more effectively use
                      user research tools available, and turn qualitative research
                      into something thoughtful and actionable (2) The way she involves
                      the whole team in the entire process: Decision-making was clear
                      and transparent, and involved the team in ways that were helpful
                      but not distracting, and inclusive without being stymied by group
                      decision paralysis.
                    </p>
                    <a href="https://www.linkedin.com/in/alyssacaulley" class="text-decoration-none ts-text-white">
                      <p class="text-right text-uppercase fw-700 ts-fs-7">
                        Alyssa Caulley
                        <img width="12" src="../assets/images/linkedin-white.png" alt="LinkedIn"/>
                      </p>
                      <p class="text-right ts-text-gray-10">Engineering Technical Lead</p>
                    </a>
                  </div>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="d-flex gap-8">
                  <div>
                    <img width="20" src="../assets/icons/quote.svg" alt="..." />
                  </div>
                  <div>
                    <p class="mb-24">
                      Tina is a powerhouse. She joined us on an in-flight
                      product that hadn't yet found PMF. She quickly took on the
                      vision we were working towards, conducted user research,
                      and developed the user personas and UI prototypes that
                      drove the MVP. Her ability to identify real user needs
                      narrowed the scope and focused everything we were
                      building.
                    </p>
                    <a href="https://www.linkedin.com/in/greghecht" class="text-decoration-none ts-text-white">
                      <p class="text-right text-uppercase fw-700 ts-fs-7">
                        Greg Hecht
                        <img width="12" src="../assets/images/linkedin-white.png" alt="LinkedIn"/>
                      </p>
                      <p class="text-right ts-text-gray-10">CTO and Founder</p>
                    </a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="d-flex gap-8">
                  <div>
                    <img width="20" src="../assets/icons/quote.svg" alt="..." />
                  </div>
                  <div>
                    <p class="mb-24">
                    I was part of an experimentation stream under Tina's mentorship ... Her approach of asking critical
                    questions, both qualitative and quantitative, along with revisiting her insights
                    and notes from previous experiment streams, significantly improved our team
                    dynamics and flow. 
                    </p>
                      <a href="https://www.linkedin.com/in/arjunvariar/" class="text-decoration-none ts-text-white">
                        <p class="text-right text-uppercase fw-700 ts-fs-7">
                          Arjun Variar
                          <img width="12" src="../assets/images/linkedin-white.png" alt="LinkedIn"/>
                          </p> 
                        <p class="text-right ts-text-gray-10">Staff Software Engineer</p>
                      </a>
                  </div>
                </div>
              </div> 
            </div>
            <div class="swiper-pagination ts-review-pagination-2 p-24"></div>
          </div>
        </div>
      </div>
    </section>
     
    <section class="ts-latest-blog ts-py-80">
      <div class="ts-container">
        <h3 class="ts-fs-3 fw-800 mb-24">Related posts</h3>
        <div class="ts-container p-0">
          <div class="ts-blog-group mb-24">
            {% set posts = collections['new product development'] | reverse | limit(3) %}
            {% for post in posts %}
              {% include "postlist.njk" %}
            {% endfor %}
          </div>
        <a class="ts-fs-6 ts-text-blue-2 text-decoration-none ts-btn-seemore fw-700" href="/blog">See all
         <i class="icon-shift ts-fs-7 fa-solid fa-arrow-right"></i>
        </a>
        </div>
      </div>
    </section>

    <footer class="ts-footer text-center mb-64">
      <div class="ts-container">
        <div class="ts-footer__content">
            &copy; Unlikely LLC
            <script>document.write( new Date().getFullYear() );</script>
        </div>
      </div>
    </footer>

    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script src="../js/common.js"></script>
    <script src="../js/index.js"></script>
  </body>
</html>


