<!DOCTYPE html>
<html lang="en">
  <head>
  <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-F6SNPYZPH7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-F6SNPYZPH7');
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>0&rarr;1 Product</title>
    <meta name="description" content="Using a lightweight, user-centered, experiment-driven product
    development process that prioritizes short, iterative cycles enables us to learn more quickly
    and shorten the time that it takes to reach product-market fit.">
    <meta property="og:url" content="url('/product-facilitation')">
    <meta property="og:type" content="website">
    <meta property="og:title" content="0->1 Product">
    <meta property="og:image" content="/assets/images/product/npd_comments.png">
    <meta property="og:description" content="Streamline your 0→1 process to help the team ship in weeks, not months.">

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../assets/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../assets/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../assets/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="../assets/favicon/site.webmanifest" />
    <!-- Link Swiper's CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
    />

    <link rel="stylesheet" href="../styles/common.css" />

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-F6SNPYZPH7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-F6SNPYZPH7');
    </script>
    <script src="https://kit.fontawesome.com/efed93f1aa.js" crossorigin="anonymous"></script>
  </head>


  <body>
    <nav class="ts-navbar-container">
      <div class="ts-container">
        <header class="ts-navbar">
          <a class="ts-navbar__logo" href="/">
            <img src="../assets/images/logo.png" height="40px" alt="Unlikely"/>
          </a>

          <div class="ts-burger">
            <i class="ts-open fa-solid fa-bars"></i>
            <span class="ts-close">
              <i class="fa-solid fa-xmark"></i>
            </span>
          </div>

          <nav class="ts-navbar__navbar">
            <ul class="ts-links">
              <li>
                <a class="ts-navbar__link" href="/blog"> Blog </a>
              </li> 
              <li class="ts-btn-container d-none">
                <a
                  class="ts-btn ts-btn--sm ts-btn-primary ts-fs-6 text-decoration-none rounded-4 text-uppercase fw-500"
                  href="mailto:tina@unlikely.so">
                  Contact
                </a>
              </li>
            </ul>
          </nav>
        </header>
      </div>
    </nav>

    <section class="ts-work ts-py-96">
      <div class="ts-container">
        <div>
          <div class="ts-work__content fw-300 ts-text-black">
            <div>
              <h1 class="ts-text-gray-2 ts-fs-3 fw-800">0&rarr;1 Product</h1>
              <p class="ts-fs-5 fw-400 mt-40">
                <em>
                  As a product leader, your organization is scaling up, and you can no longer make
                  every product decision. Your team is accustomed to executing the roadmaps you've
                  created, so it's challenging for them (and for you) to continue building products
                  that users love and ship quickly without your continued deep involvement.
                </em>
                  <br/><br/>
                  Work with a partner who has a track record of moving quickly in early-stage
                  startups to coach your team on <a class="ts-text-blue-2" href="/design-thinking-your-way-to-startup-mvp/">how to go from 0→1</a> and shape that roadmap, with
                  your vision as the north star. By empowering your team, you can effectively scale
                  your team's product capabilities.
              </p>
              <h6 class="ts-fs-5 fw-800 mb-8 mt-48 ts-text-green text-uppercase">
                How
              </h6>
              <p class="ts-fs-5 mb-16 fw-400">
                The engagement can be a 3-day kickoff workshop, 12-week immersive experience
                or somewhere in between, depending on the level of assistance the team needs.
              </p>
              <ul class="ts-fs-5 mb-24 fw-400">
                <li>
                  Coach the team in the design thinking process to go from 0→1 
                </li>
                <li>
                  Train engineers, PMs and designers to perform user research and uncover insights
                  about user needs
                </li>
                <li>
                  Show how to make those insights actionable and translate them to hypotheses
                </li>
                <li>
                  Guide the team to focus and prioritize to quickly validate hypotheses
                </li>
                <li>
                  Coach the team through iterating, building muscle memory to operate with speed, flexibility, and
                  clarity 
                </li>
                <li>
                  Help the team to navigate ambiguity, manage uncertainty and gain confidence,
                  de-risking quickly in the search for product-market fit.
                </li>
              </ul>
            </div>
            <div class="ts-sidebar-container">
              <div class="ts-sidebar rounded-4">
                <h5 class="ts-text-green ts-fs-5 fw-800 text-uppercase">
                  Communication
                </h5>
                <p class="rounded-4 ts-fs-5 fw-400 mb-24 mt-16">
                  Communicate effectively through challenging team dynamics to focus on delivering results.
                </p>
                <a class="ts-fs-5 fw-400 ts-text-blue-2 text-decoration-none ts-btn-seemore" href="/communication-coaching">
                  Learn more
                </a>
              </div>
              <div class="ts-sidebar rounded-4">
                <h5 class="ts-text-green ts-fs-5 fw-800 text-uppercase">
                  Design
                </h5>
                <p class="rounded-4 ts-fs-5 fw-400 mb-24 mt-16">
                  Build a strong design practice to create user experiences that bridge your vision with user impact.
                </p>
                <a class="ts-fs-5 fw-400 ts-text-blue-2 text-decoration-none ts-btn-seemore" href="/design-leadership">
                  Learn more
                </a>
              </div>
            </div>
          </div>
        </div>  
      </div>
    </section>


    <!-- Reviews 2  -->
    <section class="ts-py-80 ts-bg-gray-7 ts-text-black">
      <div class="ts-container">
        <div class="rounded-4">
          <!-- Swiper -->
          <div class="swiper reviewSwiper2 ts-font-nunito-sans">
            <div class="swiper-wrapper ts-fs-5 fw-400">
              <div class="swiper-slide">
                <div class="d-flex gap-8">
                  <div>
                    <img width="20" src="../assets/icons/quote.svg" alt="..." />
                  </div>
                  <div>
                    <p class="mb-24">
                      Tina transformed how our team developed new product directions.
                    Previously we had no shortage of ideas, but any given one required
                    a heavy engineering investment, and we didn't have enough conviction
                    in any single one of them to feel confident investing resources. Tina
                    showed us how to move quickly and iteratively from the highly uncertain
                    brainstorm phase to getting working demos in front of users with as
                    little over-engineering as possible. This gave our team the quantitative
                    and qualitative user feedback we needed to have confidence in where to
                    invest our time and resources.
                    </p>
                    <a href="https://www.linkedin.com/in/romano" class="text-decoration-none ts-text-black">
                      <p class="text-right text-uppercase fw-800 ts-fs-6">
                        Raquel Romano
                        <img width="12" src="../assets/images/linkedin.png" alt="LinkedIn"/>
                      </p>
                      <p class="text-right ts-text-gray-1">Engineering Technical Lead</p>
                    </a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="d-flex gap-8">
                  <div>
                    <img width="20" src="../assets/icons/quote.svg" alt="..." />
                  </div>
                  <div>
                    <p class="mb-24">
                      Tina helped turn what could have been a very stressful
                      do-or-die situation at a startup into a period that I look
                      back on as simultaneously one of the most effective and the most
                      fun. She was key to helping our team gel and go from idea to
                      multiple UI prototypes, and then public launch within 2
                      months. Two things stand out that were most helpful to our
                      team: (1) Her incredibly quick but deep user research and
                      synthesis: I have never seen anyone more effectively use
                      user research tools available, and turn qualitative research
                      into something thoughtful and actionable (2) The way she involves
                      the whole team in the entire process: Decision-making was clear
                      and transparent, and involved the team in ways that were helpful
                      but not distracting, and inclusive without being stymied by group
                      decision paralysis.
                    </p>
                    <a href="https://www.linkedin.com/in/alyssacaulley" class="text-decoration-none ts-text-black">
                      <p class="text-right text-uppercase fw-800 ts-fs-6">
                        Alyssa Caulley
                        <img width="12" src="../assets/images/linkedin.png" alt="LinkedIn"/>
                      </p>
                      <p class="text-right ts-text-gray-1">Engineering Technical Lead</p>
                    </a>
                  </div>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="d-flex gap-8">
                  <div>
                    <img width="20" src="../assets/icons/quote.svg" alt="..." />
                  </div>
                  <div>
                    <p class="mb-24">
                      Tina is a powerhouse. She joined us on an in-flight
                      product that hadn't yet found PMF. She quickly took on the
                      vision we were working towards, conducted user research,
                      and developed the user personas and UI prototypes that
                      drove the MVP. Her ability to identify real user needs
                      narrowed the scope and focused everything we were
                      building. She's a delightful collaborator. Tina's high
                      energy, sense of humor, openness, and eagerness to share
                      and train others are all critical assets in the ups and
                      downs of startup life.
                    </p>
                    <a href="https://www.linkedin.com/in/greghecht" class="text-decoration-none ts-text-black">
                      <p class="text-right text-uppercase fw-800 ts-fs-6">
                        Greg Hecht
                        <img width="12" src="../assets/images/linkedin.png" alt="LinkedIn"/>
                      </p>
                      <p class="text-right ts-text-gray-1">CTO and Founder</p>
                    </a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="d-flex gap-8">
                  <div>
                    <img width="20" src="../assets/icons/quote.svg" alt="..." />
                  </div>
                  <div>
                    <p class="mb-24">
                    I was part of an experimentation stream under Tina's mentorship ... Her approach of asking critical
                    questions, both qualitative and quantitative, along with revisiting her insights
                    and notes from previous experiment streams, significantly improved our team
                    dynamics and flow. 
                    </p>
                      <a href="https://www.linkedin.com/in/arjunvariar/" class="text-decoration-none ts-text-black">
                        <p class="text-right text-uppercase fw-800 ts-fs-6">
                          Arjun Variar
                          <img width="12" src="../assets/images/linkedin.png" alt="LinkedIn"/>
                          </p> 
                        <p class="text-right ts-text-gray-1">Staff Software Engineer</p>
                      </a>
                  </div>
                </div>
              </div> 
            </div>
            <div class="swiper-pagination ts-review-pagination-2 p-24"></div>
          </div>
        </div>
      </div>
    </section>
     
    <section class="ts-latest-blog ts-py-80">
      <div class="ts-container">
        <div class="ts-container p-0">
          <div class="ts-blog-group mb-24">
            {% set posts = collections['new product development'] | reverse | limit(3) %}
            {% for post in posts %}
              {% include "postlist.njk" %}
            {% endfor %}
          </div>
        <a class="ts-fs-6 ts-text-blue-2 text-decoration-none ts-btn-seemore fw-400" href="/blog">Read more
         <i class="icon-shift ts-fs-6 fa-solid fa-arrow-right"></i>
        </a>
        </div>
      </div>
    </section>

    <footer class="ts-footer text-center mb-64">
      <div class="ts-container">
        <div class="ts-footer__content">
            &copy; Unlikely LLC
            <script>document.write( new Date().getFullYear() );</script>
        </div>
      </div>
    </footer>

    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script src="../js/common.js"></script>
    <script src="../js/index.js"></script>
  </body>
</html>


