.ts-burger svg path {
  fill: #000;
}

@media only screen and (max-width: 450px) {
  /* Subscription form */
  .ml-mobileButton-horizontal {
    display: inline-block !important;
    margin-bottom: 20px;
    width: 100%;
    }
  .ml-button-horizontal {
    display: none;
  }
  .ml-input-horizontal {
    width: 100% !important;
  }
  .horizontal-fields {
    padding-right: 0 !important;
  }

  .ts-blog-details__title {
    display: block;
  }

}

